Repository streamlink/streamlink, pull requests merged in 2018-12, with the labels that each got.

#2189 plugins.stv: New Plugin for https://player.stv.tv/live
  docs/plugin_matrix.rst
  src/streamlink/plugins/stv.py
  tests/plugins/test_stv.py
Labels: plugin request

#2188 plugins.vtvgo: New plugin for https://vtvgo.vn/
  docs/plugin_matrix.rst
  src/streamlink/plugins/vtvgo.py
  tests/plugins/test_vtvgo.py
Labels: plugin request

#2187 plugins.sbscokr: New Plugin for http://play.sbs.co.kr/onair/pc/index.html
  docs/plugin_matrix.rst
  src/streamlink/plugins/sbscokr.py
  tests/plugins/test_sbscokr.py
Labels: plugin request

#2156 Update the documentation with comments for playing YouTube Live Streams
  docs/players.rst
Labels: documentation

#2186 plugins.cdnbg: Update for extra channels
  docs/plugin_matrix.rst
  src/streamlink/plugins/cdnbg.py
  tests/plugins/test_cdnbg.py
Labels: plugin enhancement

#2193 travis-ci: Fixed Python 3.8 error's
  src/streamlink/logger.py
  src/streamlink/plugin/api/utils.py
  src/streamlink/stream/hds.py
  tests/test_api_validate.py
  tests/test_plugins.py
Labels: enhancement

#2194 api.useragents: update User-Agent list
  src/streamlink/plugin/api/useragents.py
Labels: enhancement

#2204 plugins.afreeca: use Referer for every connection
  docs/plugin_matrix.rst
  src/streamlink/plugins/afreeca.py
  tests/plugins/test_afreeca.py
Labels: plugin issue

#2165 Add icon, modify installer, update docs
  .travis.yml
  NOTICE
  docs/index.rst
  icon.svg
  script/makeinstaller.sh
  win32/LICENSE.txt
  win32/doggo.ico
Labels: enhancement
