Repository streamlink/streamlink, pull requests merged in 2018-08, with the labels that each got.

#1675 URL builder utils
  src/streamlink/plugin/api/utils.py
  src/streamlink/plugins/gardenersworld.py
  src/streamlink/plugins/tf1.py
  src/streamlink/utils/__init__.py
  src/streamlink/utils/url.py
  tests/test_plugin_utils.py
  tests/test_utils.py
  tests/test_utils_url.py
Labels: enhancement

#1978 plugins.steam: api requests now require a session id
  src/streamlink/plugins/steam.py
Labels: plugin issue

#1988 plugins.twitch: new video URL regex
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
Labels: plugin issue

#1975 script.makeinstaller: use a more recent version of Python and Pycryptodome
  script/makeinstaller.sh
Labels: packages

#1987 Removed old Livestreamer deprecations and API references
  dev-requirements.txt
  src/streamlink/__init__.py
  src/streamlink/plugin/plugin.py
  src/streamlink/stream/hls.py
  src/streamlink/utils/__init__.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/plugins/test_stream.py
  tests/plugins/test_tvplayer.py
  tests/test_plugin_utils.py
  tests/test_session.py
  tests/test_utils_url.py
Labels: documentation

#1994 Update and reactivate plugin for dr.dk
  src/streamlink/plugins/drdk.py
Labels: plugin issue

#1989 plugins.sportal: Removed old RTMP streams, use HLS
  src/streamlink/plugins/sportal.py
Labels: plugin issue

#1986 Plugin Request: new Plugin for Latvian live TV channels on ltv.lsm.lv
  docs/plugin_matrix.rst
  src/streamlink/plugins/ltv_lsm_lv.py
  tests/plugins/test_ltv_lsm_lv.py
Labels: plugin request

#2030 Update steam plugin to work with steam.tv urls
  src/streamlink/plugins/steam.py
  tests/plugins/test_steam.py
Labels: plugin enhancement

#2010 plugins.schoolism: support for assignment feedback videos
  src/streamlink/plugins/schoolism.py
Labels: plugin enhancement

#2003 Removed old or unwanted Streamlink Plugins
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/aftonbladet.py
  src/streamlink/plugins/aliez.py
  src/streamlink/plugins/antenna.py
  src/streamlink/plugins/arconai.py
  src/streamlink/plugins/bongacams.py
  src/streamlink/plugins/brittv.py
  src/streamlink/plugins/cam4.py
  src/streamlink/plugins/camsoda.py
  src/streamlink/plugins/canlitv.py
  src/streamlink/plugins/chaturbate.py
  src/streamlink/plugins/cyro.py
  src/streamlink/plugins/dplay.py
  src/streamlink/plugins/expressen.py
  src/streamlink/plugins/filmon_us.py
  src/streamlink/plugins/looch.py
  src/streamlink/plugins/media_ccc_de.py
  src/streamlink/plugins/mips.py
  src/streamlink/plugins/nineanime.py
  src/streamlink/plugins/seemeplay.py
  src/streamlink/plugins/seetv.py
  src/streamlink/plugins/servustv.py
  src/streamlink/plugins/speedrunslive.py
  src/streamlink/plugins/streamboat.py
  src/streamlink/plugins/streamlive.py
  src/streamlink/plugins/tv8cat.py
  src/streamlink/plugins/vgtv.py
  src/streamlink/plugins/weeb.py
  tests/plugins/test_aftonbladet.py
  tests/plugins/test_aliez.py
  tests/plugins/test_antenna.py
  tests/plugins/test_arconai.py
  tests/plugins/test_bongacams.py
  tests/plugins/test_brittv.py
  tests/plugins/test_cam4.py
  tests/plugins/test_camsoda.py
  tests/plugins/test_chaturbate.py
  tests/plugins/test_dplay.py
  tests/plugins/test_expressen.py
  tests/plugins/test_mips.py
  tests/plugins/test_seetv.py
  tests/plugins/test_speedrunslive.py
  tests/plugins/test_streamboat.py
  tests/plugins/test_vgtv.py
  tests/plugins/test_weeb.py
Labels: plugin removal
