Repository streamlink/streamlink, pull requests merged in 2018-07, with the labels that each got.

#1889 Add tvtoya plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/tvtoya.py
  tests/plugins/test_tvtoya.py
Labels: plugin request

#1887 plugin args: if args are suppressed, ignore them
  src/streamlink_cli/main.py
Labels: enhancement

#1886 Handle unicode log message in Python 2
  src/streamlink/logger.py
  src/streamlink/utils/encoding.py
  tests/test_log.py
  tests/test_utils_encoding.py
Labels: bug

#1888 Update method for finding YouTube videoIds
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#1897 stream.dash: fix bug where timeline_segments.t can be None
  src/streamlink/stream/dash_manifest.py
  tests/resources/dash/test_8.mpd
  tests/streams/test_dash_parser.py
Labels: bug

#1903 utils.args: Moved streamlink_cli utils.args into streamlink package
  src/streamlink/utils/args.py
  src/streamlink_cli/argparser.py
  tests/test_utils_args.py
Labels: enhancement

#1919 plugins.tv4play: Fix for updated website
  src/streamlink/plugins/tv4play.py
  tests/plugins/test_tv4play.py
Labels: plugin issue

#1926 stream.hls: only include audio/video streams in MuxedHLSStreams
  src/streamlink/stream/hls.py
Labels: bug

#1928 tests: run Python 3.7 tests on AppVeyor and Travis-CI
  .travis.yml
  appveyor.yml
Labels: enhancement

#1927 stream.dash: prefer audio streams based on the user's locale
  src/streamlink/stream/dash.py
  tests/streams/test_dash.py
Labels: enhancement

#1941 stream.hls: if the primary video stream has audio then include it
  src/streamlink/stream/hls.py
Labels: bug

#1935 [picarto.tv] Fix regarding changed URL
  src/streamlink/plugins/picarto.py
Labels: plugin issue

#1946 plugins.twitch: Fixed AttributeError and Flake8
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#1948 plugins.crunchyroll: Fixed AttributeError and Flake8
  src/streamlink/plugins/crunchyroll.py
Labels: plugin issue

#1947 plugins.filmon: Fixed AttributeError
  src/streamlink/plugins/filmon.py
Labels: plugin issue

#1945 plugins.rtve: Fixed AttributeError 'ZTNRClient' has no 'session'
  src/streamlink/plugins/rtve.py
Labels: plugin issue

#1950 tests.localization: use en_CA instead of en_US for test_equivalent
  tests/test_localization.py
Labels: dependency issue

#1918 stream.hls_playlist: fix some regex pattern & code optimization
  src/streamlink/stream/hls_playlist.py
Labels: enhancement

#1953 plugins.younow: Fix for session error and plugin cleanup
  src/streamlink/plugins/younow.py
  tests/plugins/test_younow.py
Labels: plugin issue

#1952 plugins.media_ccc_de: removed plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/media_ccc_de.py
  tests/plugins/test_media_ccc_de.py
Labels: plugin removal

#1944 plugins.youtube: Added support for {author} and {title}
  src/streamlink/plugins/youtube.py
Labels: plugin enhancement

#1962 plugins.pixiv: use API for the stream URL and cache login cookies
  src/streamlink/plugins/pixiv.py
Labels: plugin issue

#1949 Plugin Request: new plugin for Abema.tv
  docs/plugin_matrix.rst
  src/streamlink/plugins/abematv.py
  tests/plugins/test_abematv.py
Labels: plugin request

#1965 plugins.ceskatelevize: Fix for https issues
  src/streamlink/plugins/ceskatelevize.py
Labels: plugin issue

#1966 Reword+reformat issue templates for consistency
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Plugin_Issue.md
  .github/ISSUE_TEMPLATE/Plugin_Request.md
Labels: documentation

#1971 plugins.mjunoon: use a User-Agent
  src/streamlink/plugins/mjunoon.py
Labels: plugin issue

#1974 api.useragents: use newer and more common User-Agent's
  src/streamlink/plugin/api/useragents.py
Labels: enhancement
