Repository streamlink/streamlink, pull requests merged in 2018-09, with the labels that each got.

#2048 plugins.euronews: fix live stream API URL scheme
  src/streamlink/plugins/euronews.py
Labels: plugin issue

#2067 utils.parse_xml: allow a tab for ignore_ns
  src/streamlink/utils/__init__.py
  tests/test_utils.py
Labels: bug

#2066 plugins.afreeca: ignore new preloading urls
  src/streamlink/plugins/afreeca.py
Labels: plugin issue

#1916 Fix ssh101
  src/streamlink/plugins/ssh101.py
  tests/plugins/test_ssh101.py
Labels: plugin issue

#2080 plugins.teleclubzoom: New plugin for teleclubzoom.ch
  docs/plugin_matrix.rst
  src/streamlink/plugins/teleclubzoom.py
  tests/plugins/test_teleclubzoom.py
Labels: plugin request
