Repository streamlink/streamlink, pull requests merged in 2018-10, with the labels that each got.

#2085 plugins.senategov: support for hearing streams on senate.gov
  docs/plugin_matrix.rst
  src/streamlink/plugins/senategov.py
  tests/plugins/test_senategov.py
Labels: plugin request

#2086 cli: make the HH part of HH:MM:SS options optional
  src/streamlink/utils/times.py
  src/streamlink_cli/argparser.py
  tests/test_utils_times.py
Labels: enhancement

#2092 [plugins.egame]update regex to support new pattern
  src/streamlink/plugins/egame.py
Labels: plugin issue

#2098 Fix installer by moving additional files
  script/makeinstaller.sh
Labels: dependency issue

#2096 stream.dash_manifest: Fixed bug for dynamic playlists when parent.id is None
  src/streamlink/stream/dash_manifest.py
Labels: bug

#2102 plugins.ok_live: Changed URL regex to support VoDs
  docs/plugin_matrix.rst
  src/streamlink/plugins/ok_live.py
  tests/plugins/test_ok_live.py
Labels: plugin enhancement

#2082 plugins.ustreamtv: use Desktop instead of Mobile streams
  src/streamlink/plugins/ustreamtv.py
Labels: plugin issue

#2100 plugins.cubetv: support for live streams on cubetv.sg
  docs/plugin_matrix.rst
  src/streamlink/plugins/cubetv.py
  tests/plugins/test_cubetv.py
Labels: plugin request

#2108 plugins.tamago: support for live streams on player.tamago.live
  docs/plugin_matrix.rst
  src/streamlink/plugins/tamago.py
  tests/plugins/test_tamago.py
Labels: plugin request

#2091 docs: add appropriate funimation docs
  docs/cli.rst
  docs/plugin_matrix.rst
Labels: documentation

#2113 plugins.youtube: Added support for embedded livestream urls
  src/streamlink/plugins/youtube.py
  tests/plugins/test_youtube.py
Labels: plugin enhancement

#2115 Remove bountysource from donation page, update flattr
  docs/donate.rst
Labels: documentation

#2121 versioneer: always use 7 characters
  src/streamlink/_version.py
  versioneer.py
Labels: bug

#2119 plugins.pluzz: fixes and francetvinfo.fr support
  docs/plugin_matrix.rst
  src/streamlink/plugins/pluzz.py
  tests/plugins/test_pluzz.py
Labels: plugin enhancement, plugin request

#2090 cli: disable progress output for -o when no tty is available
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: feature request

#2129 plugins.bilibili: Fix plugin after API change
  src/streamlink/plugins/bilibili.py
Labels: plugin issue

#2134 plugins.huomao: Fix plugin after website changes
  src/streamlink/plugins/huomao.py
  tests/plugins/test_huomao.py
Labels: plugin issue

#2127 feature: {best,worst}-unfiltered stream synonyms
  src/streamlink/plugin/plugin.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/constants.py
  tests/plugins/testplugin.py
  tests/test_cli_main.py
  tests/test_session.py
Labels: enhancement

#2112 plugins.metube: Add support for live streams and VoDs on www.metube.id
  docs/plugin_matrix.rst
  src/streamlink/plugins/metube.py
  tests/plugins/test_metube.py
Labels: plugin request

#2130 plugins.tvibo: Add support for livestreams on player.tvibo.com
  docs/plugin_matrix.rst
  src/streamlink/plugins/tvibo.py
  tests/plugins/test_tvibo.py
Labels: plugin request

#2137 Add a note about specifying the full player path
  docs/cli.rst
Labels: documentation
