Repository streamlink/streamlink, pull requests merged in 2018-06, with the labels that each got.

#1714 plugins.onetv: fix issues with ctc channels and add DASH support
  src/streamlink/plugins/onetv.py
  tests/test_plugin_onetv.py
Labels: plugin issue

#1720 logging: fixed issue with logging from plugins using logging module
  src/streamlink/logger.py
  src/streamlink/session.py
  src/streamlink_cli/main.py
  tests/test_plugin_tvplayer.py
Labels: bug

#1726 dash: fix for manifest reload - should be more reliable
  src/streamlink/stream/dash.py
  src/streamlink/stream/dash_manifest.py
  tests/streams/test_dash.py
Labels: enhancement

#1731 Fix bug 1730, vaughnlive port change
  src/streamlink/plugins/vaughnlive.py
Labels: plugin issue

#1737 docs: PotPlayer Stdin Pipe
  docs/players.rst
Labels: documentation

#1736 plugins.crunchyroll: switch method of obtaining session id
  src/streamlink/plugins/crunchyroll.py
Labels: plugin issue

#1735 plugins.facebook: remove debugging code
  src/streamlink/plugins/facebook.py
Labels: plugin issue

#1724 plugins: store cookies between sessions
  src/streamlink/cache.py
  src/streamlink/plugin/plugin.py
  tests/test_cache.py
  tests/test_plugin.py
Labels: enhancement

#1721 plugins.funimationnow: login support and bug fixes
  src/streamlink/plugins/funimationnow.py
  tests/test_plugin_funimationnow.py
Labels: plugin issue

#1744 logging: do not log when using quiet options (--json, --quiet, etc)
  src/streamlink_cli/main.py
Labels: bug

#1748 dash: fix --json for dash streams and allow custom headers
  src/streamlink/stream/dash.py
  src/streamlink/stream/hds.py
  tests/test_stream_json.py
Labels: bug

#1752 logging: when using the trace level, log the timestamp
  src/streamlink/logger.py
  src/streamlink_cli/main.py
Labels: enhancement

#1760 plugins.bbciplayer: fix bug is DASH for VOD
  src/streamlink/plugins/bbciplayer.py
Labels: plugin issue

#1746 plugin.youtube: find video id in page, fall back to API
  src/streamlink/plugins/youtube.py
  src/streamlink/utils/__init__.py
  tests/test_utils.py
Labels: WIP

#1765 plugins.rte: allow https
  src/streamlink/plugins/rte.py
  tests/test_plugin_rte.py
Labels: plugin issue

#1764 plugins.earthcam: Fixed hls_url - No schema supplied.
  src/streamlink/plugins/earthcam.py
Labels: plugin issue

#1771 [plugins.rtbf] Fix radio streams + DASH support
  src/streamlink/plugins/rtbf.py
Labels: plugin issue

#1766 plugins: marked or removed broken plugins
  docs/plugin_matrix.rst
  src/streamlink/plugins/antenna.py
  src/streamlink/plugins/arconai.py
  src/streamlink/plugins/brittv.py
  src/streamlink/plugins/canlitv.py
  src/streamlink/plugins/cyro.py
  src/streamlink/plugins/dingittv.py
  src/streamlink/plugins/dplay.py
  src/streamlink/plugins/drdk.py
  src/streamlink/plugins/expressen.py
  src/streamlink/plugins/filmon_us.py
  src/streamlink/plugins/looch.py
  src/streamlink/plugins/mediaklikk.py
  src/streamlink/plugins/nineanime.py
  src/streamlink/plugins/ovvatv.py
  src/streamlink/plugins/seemeplay.py
  src/streamlink/plugins/servustv.py
  src/streamlink/plugins/sportal.py
  src/streamlink/plugins/ssh101.py
  src/streamlink/plugins/streamlive.py
  src/streamlink/plugins/tvrby.py
  src/streamlink/plugins/vgtv.py
  tests/test_plugin_canlitv.py
  tests/test_plugin_cyro.py
Labels: plugin issue

#1773 logging: rename logger for main back to 'cli'
  src/streamlink_cli/main.py
Labels: bug

#1775 plugins.VinhLongTV: New plugin for livestreams of thvli.vn
  docs/plugin_matrix.rst
  src/streamlink/plugins/vinhlongtv.py
  tests/test_plugin_vinhlongtv.py
Labels: plugin request

#1795 docs.thirdparty: Added LiveProxy
  docs/thirdparty.rst
Labels: enhancement

#1790 plugins.vaughnlive: support for the HTML flv player
  src/streamlink/plugins/vaughnlive.py
Labels: plugin issue

#1754 help: reformat all the help text so that it is <80 chars
  src/streamlink/plugins/abweb.py
  src/streamlink/plugins/bbciplayer.py
  src/streamlink/plugins/btsports.py
  src/streamlink/plugins/funimationnow.py
  src/streamlink/plugins/zattoo.py
  src/streamlink_cli/argparser.py
Labels: enhancement

#1798 plugins.tlctr: New Plugin for tlctv.com.tr/canli-izle
  docs/plugin_matrix.rst
  src/streamlink/plugins/tlctr.py
  tests/test_plugin_tlctr.py
Labels: plugin request

#1814 plugins.lrt: add support for Lithuanian National Television
  docs/plugin_matrix.rst
  src/streamlink/plugins/lrt.py
  tests/test_plugin_lrt.py
Labels: plugin request

#1823 plugins.vrtbe: update to new page layout/API
  src/streamlink/plugins/vrtbe.py
  src/streamlink/stream/dash_manifest.py
Labels: plugin issue

#1822 [plugins.pandatv]fix indentation bug and add support for new url pattern
  src/streamlink/plugins/pandatv.py
Labels: plugin issue

#1817 plugins.delfi: support for delfi.lt web portal
  docs/plugin_matrix.rst
  src/streamlink/plugins/delfi.py
  tests/test_plugin_delfi.py
Labels: plugin request

#1820 plugins.crunchyroll: refactoring and updated API calls
  src/streamlink/cache.py
  src/streamlink/plugins/crunchyroll.py
  tests/test_cache.py
Labels: plugin issue

#1833 Suppress/fix deprecated warnings for Python 3
  src/streamlink/compat.py
  src/streamlink/packages/flashmedia/types.py
  src/streamlink/plugin/api/support_plugin.py
  src/streamlink/plugins/rtbf.py
  src/streamlink/stream/http.py
  src/streamlink/utils/__init__.py
  tests/__init__.py
  tests/streams/test_dash.py
  tests/streams/test_dash_parser.py
  tests/test_hls.py
  tests/test_log.py
  tests/test_meta.py
  tests/test_stream_to_url.py
  tests/test_utils.py
Labels: enhancement

#1827 API for plugins to request input from the user
  src/streamlink/exceptions.py
  src/streamlink/options.py
  src/streamlink/plugin/plugin.py
  src/streamlink/session.py
  src/streamlink_cli/console.py
  src/streamlink_cli/main.py
  tests/test_options.py
  tests/test_plugins_input.py
  tests/test_session.py
Labels: enhancement

#1782 plugins.cnews : separate CNEWS data from CanalPlus plugin.
  docs/plugin_matrix.rst
  src/streamlink/plugins/canalplus.py
  src/streamlink/plugins/cnews.py
  tests/test_plugin_canalplus.py
  tests/test_plugin_cnews.py
Labels: plugin issue

#1717 Steam Broadcast Plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/steam.py
  tests/test_plugin_steam.py
Labels: plugin request

#1840 USTV Now
  src/streamlink/plugins/ustvnow.py
Labels: plugin issue

#1804 api.utils: hours_minutes_seconds update, twitch automate time offset
  src/streamlink/plugins/twitch.py
  src/streamlink/utils/times.py
  src/streamlink_cli/argparser.py
  tests/test_utils_times.py
Labels: enhancement

#1791 plugins.itvplayer: update to new HTML5 API
  src/streamlink/plugins/itvplayer.py
Labels: plugin issue

#1802 Move docs version selection to sidebar
  .travis.yml
  deploy-key.enc
  docs/_themes/sphinx_rtd_theme_violet/layout.html
  docs/_themes/sphinx_rtd_theme_violet/searchbox.html
  docs/_themes/sphinx_rtd_theme_violet/static/css/theme.css
  docs/_themes/sphinx_rtd_theme_violet/versions.html
  doctr_deploy_key.enc
  script/makedocs.sh
  script/pushdocs.sh
Labels: documentation, enhancement

#1805 plugins.yupptv: support for yupptv with login support
  docs/plugin_matrix.rst
  src/streamlink/plugins/yupptv.py
  tests/test_plugin_yupptv.py
Labels: plugin issue

#1848 plugins.mitele: sometimes ogn is null, html5 pdata endpoint works better
  src/streamlink/plugins/mitele.py
Labels: plugin issue

#1846 stream.dash: use the ID and mime-type to identify a representation
  src/streamlink/stream/dash.py
  tests/streams/test_dash.py
Labels: enhancement

#1844 plugins.atresplayer: support new layout/API
  src/streamlink/plugins/atresplayer.py
Labels: plugin issue

#1851 plugins.t3cat: update validation rule, refactor plugin a little bit
  src/streamlink/plugins/tv3cat.py
Labels: plugin issue

#1852 stream.dash: support for SegmentList streams with ranged segments
  src/streamlink/stream/dash.py
  src/streamlink/stream/dash_manifest.py
  tests/resources/dash/test_7.mpd
  tests/streams/test_dash_parser.py
Labels: plugin issue

#1853 plugins.atresplayer: update to support VOD streams
  src/streamlink/plugins/atresplayer.py
Labels: plugin issue

#1860 plugins.tv8cat: plugin removed - the live broadcast is no longer available
  docs/plugin_matrix.rst
  src/streamlink/plugins/tv8cat.py
  tests/test_plugin_tv8cat.py
Labels: Plugin Removal

#1863 plugins.nineanime: no longer supported
  docs/plugin_matrix.rst
  src/streamlink/plugins/nineanime.py
Labels: plugin removal

#1866 release: set the date of the release for UTC time
  script/release.sh
Labels: bug

#1868 plugin: support stream weights returned by DASHStream.parse_manifest
  src/streamlink/plugin/plugin.py
  tests/test_plugin_stream.py
Labels: enhancement

#1857 plugins.mjunoon: support for live and vod streams on mjunoon.tv
  docs/plugin_matrix.rst
  src/streamlink/plugins/mjunoon.py
  tests/test_plugin_mjunoon.py
Labels: plugin request

#1871 Release 0.14.1
  CHANGELOG.md
Labels: release

#1874 plugins.vk: _url_re update, allow embedded content, plugin cleanup
  src/streamlink/plugins/vk.py
  tests/test_plugin_vk.py
Labels: plugin issue

#1877 Release 0.14.2
  CHANGELOG.md
Labels: release

#1879 plugins.EuropaPlusTV: Fix for "No connection adapters were found"
  src/streamlink/plugins/europaplus.py
Labels: plugin issue
