Repository streamlink/streamlink, pull requests merged in 2018-05, with the labels that each got.

#1517 plugins.dogan: update for page layout change
  src/streamlink/plugins/dogan.py
Labels: plugin issue

#1413 build: use versioneer to set the build number
  .gitattributes
  MANIFEST.in
  docs/conf.py
  script/bintrayconfig.sh
  script/makeinstaller.sh
  script/release.sh
  setup.cfg
  setup.py
  src/streamlink/__init__.py
  src/streamlink/_version.py
  versioneer.py
Labels: enhancement

#1655 docs: add a note about socks4 and socks5 vs socks4a and socks5h
  docs/cli.rst
Labels: documentation, enhancement

#1663 plugins.ine: support for updated site layout
  src/streamlink/plugins/ine.py
Labels: plugin issue

#1668 plugins.gardenersworld: updated page layout
  src/streamlink/plugins/gardenersworld.py
Labels: plugin issue

#1666 Add plugin for www.kingkong.com.tw
  docs/plugin_matrix.rst
  src/streamlink/plugins/kingkong.py
  tests/test_plugin_kingkong.py
Labels: plugin request

#1671 plugins.btsports: add missing plugin matrix entry and tests
  docs/plugin_matrix.rst
  tests/test_plugin_btsports.py
Labels: plugin issue

#1672 plugins.vidio: py2 vs. py3 unicode fix
  src/streamlink/plugins/vidio.py
Labels: plugin issue

#1674 plugins.bilibili: fix checking live status
  src/streamlink/plugins/bilibili.py
Labels: plugin issue

#1677 plugins.bbciplayer: enable HD for some channels and speed up start-up
  src/streamlink/plugins/bbciplayer.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
Labels: plugin issue

#1680 plugins.goodgame: update for change in page layout
  src/streamlink/plugins/goodgame.py
Labels: plugin issue

#1682 tests: test to ensure each plugin listed in the plugin matrix exists
  tests/test_docs_plugins.py
Labels: enhancement

#1686 plugins.goodgame: fix bug with streamkey extraction
  src/streamlink/plugins/goodgame.py
Labels: plugin issue

#1688 plugins.rtve: fix for m3u8 stream url formatting
  src/streamlink/plugins/rtve.py
  src/streamlink/utils/__init__.py
Labels: plugin issue

#1689 example: added an opencv face detection example
  examples/opencv-face.py
Labels: documentation

#1687 plugins.onetv: add support for 1tv.ru and a few other related sites
  docs/plugin_matrix.rst
  src/streamlink/plugins/onetv.py
  tests/test_plugin_onetv.py
Labels: plugin request

#1694 plugins.goltelevision: support for the live stream
  docs/plugin_matrix.rst
  src/streamlink/plugins/goltelevision.py
  tests/test_plugin_goltelevision.py
Labels: plugin request

#1696 plugins.tvcatchup: support for https URLs
  src/streamlink/plugins/tvcatchup.py
  tests/test_plugin_tvcatchup.py
Labels: plugin issue

#1700 Feature/france.tv sport
  src/streamlink/plugins/pluzz.py
Labels: plugin issue

#1667 Change log as markdown refactor
  CHANGELOG.md
  CHANGELOG.rst
  MANIFEST.in
  docs-requirements.txt
  docs/changelog.md
  docs/changelog.rst
  docs/conf.py
  script/github_releases.py
  script/release.sh
Labels: documentation, enhancement

#1665 Add the README file to the Python package
  setup.py
Labels: enhancement

#1705 plugin.ustvnow: plugin to support ustvnow.com
  docs/plugin_matrix.rst
  src/streamlink/plugins/ustvnow.py
  tests/test_plugin_ustvnow.py
Labels: plugin request

#1658 Allow streamlink to exit faster when using Ctrl-C
  src/streamlink/stream/segmented.py
Labels: enhancement

#1703 plugins.bfmtv : Update regular expression
  src/streamlink/plugins/bfmtv.py
  tests/test_plugin_bfmtv.py
Labels: plugin issue

#1708 plugins.chaturbate: only open a stream if the url is not empty
  src/streamlink/plugins/chaturbate.py
Labels: NSFW, plugin issue

#1715 logging: set the log level once the plugin config files have been loaded
  src/streamlink_cli/main.py
Labels: bug

#1716 plugins.dailymotion: fix error logging for stream errors
  src/streamlink/plugins/dailymotion.py
Labels: plugin issue

#1713 plugins.bbciplayer: add dash support
  src/streamlink/plugins/bbciplayer.py
Labels: plugin issue
