Repository streamlink/streamlink, pull requests merged in 2018-03, with the labels that each got.

#1524 added cd streamlink
  README.md
Labels: documentation

#1538 Add OpenCollective message to release script
  script/release.sh
Labels: documentation, enhancement

#1539 Manually update CHANGELOG.rst
  CHANGELOG.rst
Labels: documentation, enhancement

#1541 Avoid use of non-ASCII in dogan plugin
  src/streamlink/plugins/dogan.py
Labels: bug

#1546 Removed some dead plugins and some Deprecated options
  docs/plugin_matrix.rst
  src/streamlink/plugins/apac.py
  src/streamlink/plugins/bambuser.py
  src/streamlink/plugins/connectcast.py
  src/streamlink/plugins/daisuki.py
  src/streamlink/plugins/disney_de.py
  src/streamlink/plugins/dmcloud.py
  src/streamlink/plugins/dmcloud_embed.py
  src/streamlink/plugins/gomexp.py
  src/streamlink/plugins/streamupcom.py
  src/streamlink/plugins/wattv.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
Labels: documentation, enhancement

#1543 [dailymotion] Fix for new stream data API
  src/streamlink/plugins/dailymotion.py
  tests/test_plugin_dailymotion.py
Labels: plugin issue

#1544 [streann] Fixed broken plugin
  src/streamlink/plugins/streann.py
  tests/test_plugin_streann.py
Labels: plugin issue

#1532 update plugin for longzhu.com to support new url pattern
  src/streamlink/plugins/tga.py
Labels: plugin issue

#1526 [TVRPlus] Fix for hls_re and use headers for HLSStream
  src/streamlink/plugins/tvrplus.py
  tests/test_plugin_tvrplus.py
Labels: plugin issue

#1502 [ffmpegmux] Fixed bug of an invisible terminal
  src/streamlink/stream/ffmpegmux.py
Labels: bug

#1556 [youtube] Don't use MuxedStream for livestreams
  src/streamlink/plugins/youtube.py
  tests/test_plugin_youtube.py
Labels: plugin issue

#1550 [pixiv] New plugin for sketch.pixiv.net
  docs/plugin_matrix.rst
  src/streamlink/plugins/pixiv.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/test_plugin_pixiv.py
Labels: plugin request

#1531 Add support for RTBF
  docs/plugin_matrix.rst
  src/streamlink/plugins/rtbf.py
  tests/test_plugin_rtbf.py
Labels: plugin request

#1564 [playtv] Add support for international Play TV website
  docs/plugin_matrix.rst
  src/streamlink/plugins/playtv.py
  tests/test_plugin_playtv.py
Labels: plugin request

#1375 New option to limit the number of fetch retries
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
Labels: enhancement

#1570 Add OS + editor file/directory names to .gitignore
  .gitignore
Labels: enhancement

#1569 plugins.welt: add plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/welt.py
  tests/test_plugin_welt.py
Labels: plugin request

#1583 plugins.vaughnlive: Updated server map
  src/streamlink/plugins/vaughnlive.py
Labels: plugin issue
