Repository streamlink/streamlink, pull requests merged in 2019-08, with the labels that each got.

#2568 plugins.wwenetwork: support for new site
  src/streamlink/plugins/wwenetwork.py
  src/streamlink/utils/times.py
  tests/plugins/test_wwenetwork.py
  tests/test_utils_times.py
Labels: plugin issue

#2563 CLI logging issues
  src/streamlink_cli/main.py
Labels: enhancement

#2574 plugins.linelive: new plugin for LINE LIVE (live.line.me)
  docs/plugin_matrix.rst
  src/streamlink/plugins/linelive.py
  tests/plugins/test_linelive.py
Labels: plugin request

#2576 plugins.npo: removed due to DRM
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/npo.py
  tests/plugins/test_npo.py
Labels: plugin removal

#2575 plugins.TV1Channel: Fixed new livestream iframe
  docs/plugin_matrix.rst
  src/streamlink/plugins/tv1channel.py
  tests/plugins/test_tv1channel.py
Labels: plugin issue

#2532 plugins.ustreamtv: add support for proxying WebSocket connections
  src/streamlink/plugins/ustreamtv.py
  src/streamlink_cli/argparser.py
Labels: plugin enhancement

#2580 plugins.lrt: fixed livestreams
  src/streamlink/plugins/lrt.py
  tests/plugins/test_lrt.py
Labels: plugin issue

#2523 plugins.live_russia_tv: adjust to site changes (#2507)
  src/streamlink/plugins/live_russia_tv.py
  tests/plugins/test_live_russia_tv.py
Labels: plugin issue

#2569 plugins.clubbingtv: new plugin for Clubbing TV website
  docs/plugin_matrix.rst
  src/streamlink/plugins/clubbingtv.py
  tests/plugins/test_clubbingtv.py
Labels: plugin request

#2425 plugins.ovvatv: fix site changes
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/oneplusone.py
  src/streamlink/plugins/ovvatv.py
  tests/plugins/test_oneplusone.py
  tests/plugins/test_ovvatv.py
Labels: plugin issue

#2586 plugins.wwenetwork: update for small page/api change
  src/streamlink/plugins/wwenetwork.py
Labels: plugin issue

#2565 plugins.youtube: fixed reason msg, updated _url_re
  src/streamlink/plugins/youtube.py
  tests/plugins/test_youtube.py
Labels: plugin enhancement, plugin issue

#2593 Release 1.2.0
  CHANGELOG.md
Labels: release

#2596 plugins.bbciplayer: update API URL to use https
  src/streamlink/plugins/bbciplayer.py
Labels: plugin issue

#2597 plugins.nownews: added support for the HK news site news.now.com
  docs/plugin_matrix.rst
  src/streamlink/plugins/nownews.py
  tests/plugins/test_nownews.py
Labels: plugin request

#2601 plugins.vk: use html_unescape for HLS streams
  src/streamlink/plugins/vk.py
Labels: plugin issue
