Repository streamlink/streamlink, pull requests merged in 2019-05, with the labels that each got.

#2430 plugins.cubetv: base url changes
  docs/plugin_matrix.rst
  src/streamlink/plugins/cubetv.py
  tests/plugins/test_cubetv.py
Labels: plugin issue

#2441 utils.__init__: remove cElementTree, it's just an alias for ElementTree
  src/streamlink/utils/__init__.py
  tests/resources/__init__.py
  tests/test_utils.py
Labels: dependency issue

#2419 Plugin: DLive
  docs/plugin_matrix.rst
  src/streamlink/plugins/dlive.py
  tests/plugins/test_dlive.py
Labels: plugin request

#2318 Handle keyboard interrupts in can_handle_url checks
  src/streamlink_cli/main.py
Labels: enhancement

#2442 plugins.teamliquid: New domain, fix stream_weight
  docs/plugin_matrix.rst
  src/streamlink/plugins/teamliquid.py
  tests/plugins/test_teamliquid.py
Labels: plugin issue

#2478 Add a sponsor button
  .github/FUNDING.yml
Labels: meta
