Repository streamlink/streamlink, pull requests merged in 2019-01, with the labels that each got.

#2230 setup: update requests to latest version and set urllib3 to match
  setup.py
Labels: bug

#2152 Fix recording added in #920
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  src/streamlink_cli/output.py
  tests/test_cli_main.py
Labels: enhancement

#2205 plugins.btsports: fix for change in login flow
  src/streamlink/plugins/btsports.py
Labels: WIP

#2235 CI: make sure all the dev dependencies are up to date
  .travis.yml
Labels: dependency issue

#2243 plugins.tvrby: Fixed broken plugin.
  src/streamlink/plugins/tvrby.py
Labels: plugin issue

#2242 plugins.turkuvaz: Added support for channel 'apara'
  docs/plugin_matrix.rst
  src/streamlink/plugins/turkuvaz.py
  tests/plugins/test_turkuvaz.py
Labels: plugin enhancement

#2241 plugins.trt: Added support for https url, fixed logger error
  src/streamlink/plugins/trt.py
  tests/plugins/test_trt.py
Labels: plugin issue

#2234 Fix crashing on missing output.record when using player-continous-http option
  src/streamlink_cli/main.py
Labels: bug

#2233 fix zdf mediathek plugin
  src/streamlink/plugins/zdf_mediathek.py
Labels: plugin issue

#2238 Workaround for Youtube livestream can't be played.
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#2248 plugins.kanal7: Fixed iframe_re/stream_re, added new domain
  docs/plugin_matrix.rst
  src/streamlink/plugins/kanal7.py
  tests/plugins/test_kanal7.py
Labels: plugin issue, plugin request

#2247 plugins.youtube: replace "gaming" with "www" subdomain
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#2277 plugins.dogus: support for YouTube embedded streams
  src/streamlink/plugins/dogus.py
Labels: plugin issue
