Repository streamlink/streamlink, pull requests merged in 2019-07, with the labels that each got.

#2527 plugins.cdnbg: fix for bstv url
  src/streamlink/plugins/cdnbg.py
  tests/plugins/test_cdnbg.py
Labels: plugin enhancement

#2528 plugins.ustvnow: updated to handle new auth, and site design
  src/streamlink/plugins/ustvnow.py
  tests/plugins/test_ustvnow.py
Labels: plugin enhancement

#2529 add login posibility for pixiv using sessionid and devicetoken
  src/streamlink/plugins/pixiv.py
Labels: plugin enhancement

#2524 plugin.schoolism: bug fix for videos with subtitles
  src/streamlink/plugins/schoolism.py
  tests/plugins/test_schoolism.py
Labels: bug, plugin issue

#2545 stream.dash: use the stream args in the writer and worker
  src/streamlink/stream/dash.py
Labels: bug

#2556 plugins.twitch: support for different clips URL
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#2536 session: default https-proxy option to the same as http-proxy
  src/streamlink/session.py
  src/streamlink_cli/argparser.py
  tests/test_session.py
Labels: enhancement

#2553 plugins.beattv: partial fix for the be-at.tv streams
  src/streamlink/plugins/beattv.py
  tests/plugins/test_beattv.py
Labels: plugin issue

#2558 plugin.api.useragents: update CHROME and FIREFOX User-Agent
  src/streamlink/plugin/api/useragents.py
Labels: enhancement

#2559 ffmpegmux: use -start_at_zero with -copyts
  src/streamlink/stream/ffmpegmux.py
Labels: bug

#2561 plugins.tvrplus: fix for new website layout
  src/streamlink/plugins/tvrplus.py
  tests/plugins/test_tvrplus.py
Labels: plugin issue

#2560 plugins.gulli: HTTPS support + fix live stream fetching
  src/streamlink/plugins/gulli.py
  tests/plugins/test_gulli.py
Labels: plugin issue
