Repository streamlink/streamlink, pull requests merged in 2019-04, with the labels that each got.

#2394 [plugins.bfmtv] Fix player regex
  src/streamlink/plugins/bfmtv.py
Labels: plugin issue

#2395 [plugins.idf1] Update for new website layout
  src/streamlink/plugins/idf1.py
Labels: plugin issue

#2376 plugins.bbciplayer: small change to where the VPID is extracted from
  src/streamlink/plugins/bbciplayer.py
Labels: plugin issue

#2333 cli.argparser: Fix single hyphen params at the beginning of --player-args
  src/streamlink_cli/argparser.py
  tests/test_cmdline.py
Labels: bug, dependency issue

#2401 plugins.mediaklikk: update plugin
  src/streamlink/plugins/mediaklikk.py
Labels: plugin issue

#2428 plugins.goodgame: fix for debug logging error
  src/streamlink/plugins/goodgame.py
Labels: plugin issue

#2434 plugins.reuters: New Plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/reuters.py
  tests/plugins/test_reuters.py
Labels: plugin request

#2437 plugins: Removed rte and tvcatchup
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/rte.py
  src/streamlink/plugins/tvcatchup.py
  tests/plugins/test_rte.py
  tests/plugins/test_tvcatchup.py
Labels: plugin removal

#2131 plugins.vimeo: add support for vimeo.com
  docs/plugin_matrix.rst
  src/streamlink/plugins/vimeo.py
  tests/plugins/test_vimeo.py
Labels: plugin request
