Repository streamlink/streamlink, pull requests merged in 2019-02, with the labels that each got.

#2279 plugins.bbciplayer: do not try to authenticate when not required
  src/streamlink/plugins/bbciplayer.py
  tests/plugins/test_bbciplayer.py
Labels: plugin issue

#2267 plugins.ustreamtv: handle stream names better, allow '_alt' streams
  src/streamlink/plugins/ustreamtv.py
Labels: plugin issue

#2232 Add {url} argument to window --title
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/test_lazy_formatter.py
Labels: enhancement

#2224 Add window title to PotPlayer
  src/streamlink_cli/constants.py
  src/streamlink_cli/output.py
  tests/test_cmdline_title.py
  tests/test_output.py
Labels: enhancement

#2300 plugins.rtve: Fixed content_id search
  src/streamlink/plugins/rtve.py
Labels: plugin issue

#2304 plugins.crunchyroll: Allow CR's multilingual URLs to be handled
  src/streamlink/plugins/crunchyroll.py
  tests/plugins/test_crunchyroll.py
Labels: plugin enhancement

#2293 docs: install improvements
  docs/install.rst
  script/github_releases.py
Labels: documentation, enhancement

#2307 plugins.streamme: Fixed source quality, added title and author
  src/streamlink/plugins/streamme.py
  tests/plugins/test_streamme.py
Labels: plugin issue

#2285 streams.dash: Support manifest strings in addition to manifest urls
  src/streamlink/stream/dash.py
  tests/streams/test_dash.py
Labels: enhancement

#2313 plugins.streamme: Fixed null error for 'origin'
  src/streamlink/plugins/streamme.py
Labels: plugin issue

#2310 plugins.mitele: plugin update
  src/streamlink/plugins/mitele.py
  tests/plugins/test_mitele.py
Labels: plugin issue

#2301 plugins.atresplayer: Fixed HLSStream
  src/streamlink/plugins/atresplayer.py
Labels: plugin issue
