Repository streamlink/streamlink, pull requests merged in 2019-10, with the labels that each got.

#2646 plugins.zattoo: _url_re update for some new urls
  src/streamlink/plugins/zattoo.py
  tests/plugins/test_zattoo.py
Labels: plugin issue

#2643 plugins.itvplayer: Use flash streams for ITV1/ITV4
  src/streamlink/plugins/itvplayer.py
Labels: plugin issue

#2654 plugins.viutv: support for the viu.tv live stream
  docs/plugin_matrix.rst
  src/streamlink/plugins/viutv.py
  tests/plugins/test_viutv.py
Labels: plugin request

#2655 ci/travis: install pynsist 2.4
  .travis.yml
Labels: continuous integration

#2648 plugins.bloomberg: fix issue where the incorrect playlist could be used
  src/streamlink/plugins/bloomberg.py
Labels: plugin issue

#2653 plugins.albavision: support for some albavision live streams
  docs/plugin_matrix.rst
  src/streamlink/plugins/albavision.py
  tests/plugins/test_albavision.py
Labels: plugin request

#2657 plugins.idf1: HTTPS support
  src/streamlink/plugins/idf1.py
  tests/plugins/test_idf1.py
Labels: plugin issue

#2630 plugins.twitcasting: new plugin for TwitCasting.tv
  docs/plugin_matrix.rst
  src/streamlink/plugins/twitcasting.py
  tests/plugins/test_twitcasting.py
Labels: plugin request

#2388 [plugins.playtv] Fix for new stream data API
  src/streamlink/plugins/playtv.py
Labels: plugin issue
