Repository streamlink/streamlink, pull requests merged in 2019-12, with the labels that each got.

#2722 Allow to disable twitch reruns
  src/streamlink/plugins/twitch.py
Labels: plugin enhancement

#2724 plugins.twitch: fix disable reruns
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
Labels: plugin issue

#2738 docs/tests: remove python 3.4, use 3.8 and nightly for travis-ci
  .travis.yml
  appveyor.yml
  docs/install.rst
  setup.py
Labels: continuous integration, documentation

#2741 plugins.youtube: Remove itag 303
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#2740 plugins.bilibili: fix Livestreams with status 1 (set Referer)
  src/streamlink/plugins/bilibili.py
Labels: plugin issue

#2733 plugins.nhkworld: the site migrates from xml to json stream data
  src/streamlink/plugins/nhkworld.py
Labels: plugin issue

#2737 Add wtwitch to list of thirdparty programs
  docs/thirdparty.rst
Labels: documentation

#2742 plugins.ustream: Added support for video.ibm.com
  docs/plugin_matrix.rst
  src/streamlink/plugins/ustreamtv.py
  tests/plugins/test_ustreamtv.py
Labels: plugin enhancement

#2755 plugins.bbciplayer: Fixed login params
  src/streamlink/plugins/bbciplayer.py
  tests/plugins/test_bbciplayer.py
Labels: plugin issue
