Repository streamlink/streamlink, pull requests merged in 2019-03, with the labels that each got.

#2334 plugins.pluzz: Fixed Video ID and logging update
  src/streamlink/plugins/pluzz.py
Labels: plugin issue

#2358 plugins.twitch: platform=_ in access_token request
  src/streamlink/plugins/twitch.py
Labels: plugin enhancement

#2340 Add force_verify=true to Twitch OAuth URL
  src/streamlink_cli/main.py
Labels: enhancement

#2361 plugins.pluzz: Fixed regex, they use quotes now.
  src/streamlink/plugins/pluzz.py
Labels: plugin issue

#2362 plugins.cdnbg: New domain videochanel.bstv.bg
  docs/plugin_matrix.rst
  src/streamlink/plugins/cdnbg.py
  tests/plugins/test_cdnbg.py
Labels: plugin request

#2363 plugins.tf1: Fixed python2.7 ascii error
  src/streamlink/plugins/tf1.py
Labels: plugin issue

#2286 plugins.facebook: Support manifest strings and tahoe player urls
  docs/plugin_matrix.rst
  src/streamlink/compat.py
  src/streamlink/plugins/facebook.py
  tests/plugins/test_facebook.py
Labels: plugin enhancement

#2351 plugins.ntv: new Plugin for ntv.ru (#2346)
  docs/plugin_matrix.rst
  src/streamlink/plugins/ntv.py
  tests/plugins/test_ntv.py
Labels: plugin request

#2374 plugins.okru: Fixed Plugin
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/ok_live.py
  src/streamlink/plugins/okru.py
  tests/plugins/test_ok_live.py
  tests/plugins/test_okru.py
Labels: plugin issue

#2375 plugins.liverussia: fix iframe format differences
  src/streamlink/plugins/live_russia_tv.py
Labels: plugin issue

#2372 plugins.twitch: implement disable-ads parameter
  src/streamlink/plugins/twitch.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/hls_playlist.py
  tests/plugins/test_twitch.py
Labels: plugin enhancement

#2386 plugins.rtpplay: fix _m3u8_re and plugin cleanup
  src/streamlink/plugins/rtpplay.py
  tests/plugins/test_rtpplay.py
Labels: plugin issue

#2367 Release 1.1.0
  CHANGELOG.md
Labels: release
