Repository streamlink/streamlink, pull requests merged in 2020-07, with the labels that each got.

#3054 ci: fix pycountry issue temporarily with a fixed version
  script/install-dependencies.sh
Labels: continuous integration

#3053 plugins.beattv: remove plugin
  docs/issues.rst
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/beattv.py
  tests/plugins/test_beattv.py
Labels: plugin removal

#3056 plugins.tvnbg: plugin removal
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/tvnbg.py
  tests/plugins/test_tvnbg.py
Labels: plugin removal

#2952 plugins.adultswim: fix/rewrite
  src/streamlink/plugins/adultswim.py
  tests/plugins/test_adultswim.py
Labels: plugin issue

#3057 utils.l10n: fix pycountry language lookup
  script/install-dependencies.sh
  src/streamlink/utils/l10n.py
Labels: dependency issue

#3059 ci: run scheduled tests, ignore coverage report
  .github/workflows/main.yml
Labels: continuous integration

#2912 plugins.cdnbg: update plugin to support new sites, and remove old sites
  docs/plugin_matrix.rst
  src/streamlink/plugins/cdnbg.py
  tests/plugins/test_cdnbg.py
Labels: plugin issue

#3064 plugin.api.useragents: update User-Agent
  src/streamlink/plugin/api/useragents.py
Labels: enhancement

#3052 plugins.ard_live: fix / rewrite
  src/streamlink/plugins/ard_live.py
Labels: plugin issue

#3049 plugins.ard_mediathek: fix / update
  src/streamlink/plugins/ard_mediathek.py
Labels: plugin issue

#3061 Plugin.nicolive:resolve API format change
  src/streamlink/plugins/nicolive.py
Labels: plugin issue

#3063 Release 1.5.0
  CHANGELOG.md
Labels: release

#3067 plugins.vaughnlive: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/vaughnlive.py
  tests/plugins/test_vaughnlive.py
Labels: plugin removal

#3071 plugins.pandatv: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/pandatv.py
  tests/plugins/test_pandatv.py
Labels: plugin removal

#3068 plugins.douyutv: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/douyutv.py
  tests/plugins/test_douyutv.py
Labels: plugin removal

#3080 plugins.tv8: fix plugin with new api
  src/streamlink/plugins/tv8.py
Labels: plugin issue

#3081 plugins.cybergame: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/cybergame.py
  tests/plugins/test_cybergame.py
Labels: plugin removal

#3086 Add OBS-Streamlink into thirdparty.rst
  docs/thirdparty.rst
Labels: more info required

#3088 docs: update reference to minimum VLC version
  docs/players.rst
Labels: documentation

#2925 stream.hls: customizable playlist reload times
  src/streamlink/plugins/showroom.py
  src/streamlink/plugins/twitch.py
  src/streamlink/session.py
  src/streamlink/stream/hls.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/streams/test_hls.py
Labels: feature request
