Repository streamlink/streamlink, pull requests merged in 2020-06, with the labels that each got.

#3005 docs/install: fix Windows package manager
  docs/install.rst
Labels: documentation

#3013 plugins.foxtr: fix playervars_re
  src/streamlink/plugins/foxtr.py
Labels: plugin issue

#3007 plugins.huya: fix _hls_re
  src/streamlink/plugins/huya.py
Labels: plugin issue

#3017 Fixed typo (synonmys => synonyms)
  src/streamlink/plugin/plugin.py
Labels: documentation

#3019 plugins.btv: remove login and fix API URL
  docs/plugin_matrix.rst
  src/streamlink/plugins/btv.py
  tests/plugins/test_btv.py
Labels: plugin issue

#3016 plugins.bigo: fix bigo
  src/streamlink/plugins/bigo.py
  tests/plugins/test_bigo.py
Labels: plugin issue

#3012 ci: no test/documentation jobs on scheduled run
  .github/workflows/main.yml
Labels: continuous integration

#3034 plugins.n13tv: new plugin - replaces plugins.reshet
  docs/plugin_matrix.rst
  src/streamlink/plugins/n13tv.py
  tests/plugins/test_n13tv.py
Labels: new plugin, plugin issue

#3000 plugins.reshet: plugin removal
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/reshet.py
  tests/plugins/test_reshet.py
Labels: plugin removal

#3025 cli.main: fix msecs format in logging output
  src/streamlink_cli/main.py
Labels: enhancement

#3026 plugins.youtube: Fix isLive and signatureCipher
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#3039 Plugin.nicolive: resolve new api format
  src/streamlink/plugins/nicolive.py
Labels: plugin issue

#3018 fix radionet plugin so it works with new radio.net page format
  src/streamlink/plugins/radionet.py
Labels: plugin issue

#3024 plugins.facebook: use meta og:video:url and added basic title support
  src/streamlink/plugins/facebook.py
Labels: plugin enhancement, plugin issue

#2991 plugins.ceskatelevize: add new api for some links
  src/streamlink/plugins/ceskatelevize.py
Labels: plugin enhancement, plugin issue

#3041 plugins.mixer: remove plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/mixer.py
  tests/plugins/test_mixer.py
Labels: plugin removal

#3046 plugins.picarto: fixed vod url detection
  src/streamlink/plugins/picarto.py
  tests/plugins/test_picarto.py
Labels: plugin issue
