Repository streamlink/streamlink, pull requests merged in 2020-11, with the labels that each got.

#3300 cli: add support for stream manifest URL output
  src/streamlink/stream/dash.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/stream.py
  src/streamlink_cli/main.py
  tests/streams/test_hls.py
  tests/test_cli_main.py
  tests/test_stream_json.py
Labels: feature request

#3319 installer: upgrade to Python 3.9.0
  .github/workflows/main.yml
  script/makeinstaller.sh
Labels: Windows installer

#3290 plugins.bfmtv: fix ID & embed re, use Dailymotion
  src/streamlink/plugins/bfmtv.py
Labels: plugin issue

#3310 plugins.abweb: fixed login issues
  src/streamlink/plugins/abweb.py
  tests/plugins/test_abweb.py
Labels: plugin issue

#3322 installer: switch back to latest pynsist release
  .github/workflows/main.yml
Labels: Windows installer, dependency issue

#3315 plugins.vlive: fix URL regex and plugin
  src/streamlink/plugins/vlive.py
  tests/plugins/test_vlive.py
Labels: plugin issue

#3326 plugins.cdnbg: simplify and fix iframes without schema
  src/streamlink/plugins/cdnbg.py
Labels: plugin issue

#3330 installer: downgrade to python 3.8
  script/makeinstaller.sh
Labels: Windows installer

#3331 docs: add note about supported Windows versions
  docs/install.rst
Labels: Windows installer, documentation

#3318 plugins.nrk: fix/rewrite plugin
  src/streamlink/plugins/nrk.py
  tests/plugins/test_nrk.py
Labels: plugin issue

#3325 plugins.huya: use FLV stream with multiple mirrors
  docs/plugin_matrix.rst
  src/streamlink/plugins/huya.py
  tests/plugins/test_huya.py
Labels: plugin issue

#3344 plugins.twitch: move access_token request to GQL
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#3347 chore: remove HLS variant playlist compat params
  src/streamlink/plugins/youtube.py
  src/streamlink/stream/hls.py
Labels: cleanup

#3348 plugin.api.useragents: update User-Agent's
  src/streamlink/plugin/api/useragents.py
Labels: enhancement

#3349 chore: remove old rtmpdump/subprocess CLI args
  src/streamlink/session.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
Labels: cleanup

#3350 installer: fix + rewrite streamlinkrc config file
  win32/streamlinkrc
Labels: Windows installer

#3338 plugins.mitele: update plugin to support new website APIs
  src/streamlink/plugins/mitele.py
Labels: plugin issue

#3351 plugins.tamago: removed dead plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/tamago.py
  tests/plugins/test_tamago.py
Labels: plugin removal

#3352 plugins.streamme: removed dead plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/streamme.py
  tests/plugins/test_streamme.py
Labels: plugin removal

#3353 plugins.metube: removed dead plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/metube.py
  tests/plugins/test_metube.py
Labels: plugin removal

#3354 plugins.cubetv: removed dead plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/cubetv.py
  tests/plugins/test_cubetv.py
Labels: plugin removal

#3355 cli.utils: remove named_pipe.py file, use streamlink.utils import
  src/streamlink_cli/main.py
  src/streamlink_cli/utils/__init__.py
  src/streamlink_cli/utils/named_pipe.py
Labels: cleanup

#3358 stream.ffmpegmux: only close FFMPEGMuxer once
  src/streamlink/stream/ffmpegmux.py
Labels: bug

#2892 Add support for specifying output file format and audio sync option
  src/streamlink/session.py
  src/streamlink/stream/ffmpegmux.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/streams/test_ffmpegmux.py
Labels: PR: squash commits, enhancement

#3364 plugins.pixiv: set headers for stream data, fixed login issue
  src/streamlink/plugins/pixiv.py
Labels: plugin issue

#3363 plugins.pluto: new plugin for https://pluto.tv/
  docs/plugin_matrix.rst
  src/streamlink/plugins/pluto.py
  tests/plugins/test_pluto.py
Labels: PR: squash commits, new plugin

#3371 chore: fix deprecated logging.Logger.warn calls
  src/streamlink/plugins/nicolive.py
Labels: cleanup

#3373 plugins.twitch: fix ads
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#3375 plugins.twitch: fix --twitch-disable-reruns
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
Labels: plugin issue

#3372 plugins.youtube: quickfix for "/live" URL
  src/streamlink/plugins/youtube.py
Labels: plugin issue
