Repository streamlink/streamlink, pull requests merged in 2020-02, with the labels that each got.

#2793 Added support for Latina (formerly Frecuencia Latina), southamerican …
  docs/plugin_matrix.rst
  src/streamlink/plugins/latina.py
  tests/plugins/test_latina.py
Labels: new plugin

#2760 plugins.galatasaraytv: Add support for GALATASARAY SK TV live streams
  docs/plugin_matrix.rst
  src/streamlink/plugins/galatasaraytv.py
  tests/plugins/test_galatasaraytv.py
Labels: new plugin

#2759 plugins.tf1: use new API to retrieve DASH streams
  src/streamlink/plugins/tf1.py
Labels: plugin enhancement, plugin issue

#2795 plugin.api: use Firefox as default User-Agent instead of python-requests
  src/streamlink/plugin/api/http_session.py
  src/streamlink/plugin/api/useragents.py
Labels: enhancement

#2796 plugins.filmon: retry for 50X errors
  src/streamlink/plugins/filmon.py
Labels: plugin issue

#2809 Further cleanup
  .editorconfig
  src/streamlink/__init__.py
  src/streamlink/packages/flashmedia/__init__.py
  src/streamlink/packages/flashmedia/error.py
  src/streamlink/packages/flashmedia/f4v.py
  src/streamlink/packages/flashmedia/flv.py
  src/streamlink/packages/flashmedia/packet.py
  src/streamlink/packages/flashmedia/tag.py
  src/streamlink/packages/flashmedia/util.py
  src/streamlink/plugins/dash.py
  src/streamlink/plugins/dogan.py
  src/streamlink/plugins/tga.py
  src/streamlink/plugins/tv3cat.py
  src/streamlink/plugins/tvplayer.py
  src/streamlink/plugins/twitch.py
  tests/plugins/test_bigo.py
  tests/plugins/test_deutschewelle.py
  tests/plugins/test_huomao.py
  tests/plugins/test_stream.py
  tests/plugins/testplugin.py
  tests/streams/test_dash.py
  tests/streams/test_hls.py
  tests/streams/test_hls_playlist.py
  tests/streams/test_stream_wrappers.py
  tests/test_api_http_session.py
  tests/test_api_validate.py
  tests/test_cli_util_progress.py
  tests/test_cmdline_title.py
  tests/test_log.py
  tests/test_options.py
  tests/test_session.py
  tests/test_utils_encoding.py
Labels: cleanup

#2802 Fix tvplayer plugin and tests
  src/streamlink/plugins/tvplayer.py
  tests/plugins/test_tvplayer.py
Labels: plugin issue
