Repository streamlink/streamlink, pull requests merged in 2020-03, with the labels that each got.

#2815 plugins.piczel fix
  src/streamlink/plugins/piczel.py
Labels: plugin issue

#2811 plugins.reuters fix
  src/streamlink/plugins/reuters.py
  tests/plugins/test_reuters.py
Labels: plugin issue

#2801 Added support for ATV and ATVMas in albavision plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/albavision.py
  tests/plugins/test_albavision.py
Labels: new plugin, plugin enhancement

#2438 cli: New command --force-progress
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
Labels: feature request

#2513 plugins.twitch: low latency
  src/streamlink/plugins/twitch.py
  src/streamlink/session.py
  src/streamlink/stream/hls.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/plugins/test_twitch.py
Labels: plugin enhancement

#2818 plugins.bilibili: ignore unavailable URLs
  src/streamlink/plugins/bilibili.py
Labels: plugin issue

#2821 add templating for hls-segment-key-uri option
  src/streamlink/stream/hls.py
  src/streamlink_cli/argparser.py
  tests/streams/test_hls.py
Labels: feature request

#2825 plugins.bloomberg: fix vods and live streams
  src/streamlink/plugins/bloomberg.py
Labels: plugin issue

#2479 stream.hls_playlist: Add extra logging for invalid #EXTM3U line
  src/streamlink/stream/hls_playlist.py
Labels: enhancement

#2829 plugins.mlgtv: remove plugin they use DRM for Livestreams
  docs/issues.rst
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/mlgtv.py
  tests/plugins/test_mlgtv.py
Labels: drm, plugin removal

#2641 plugins.wasd: new plugin for WASD.TV
  docs/plugin_matrix.rst
  src/streamlink/plugins/wasd.py
  tests/plugins/test_wasd.py
Labels: new plugin, no response

#2651 NicoLive: new plugin for Niconico Live
  docs/plugin_matrix.rst
  src/streamlink/plugins/nicolive.py
  tests/plugins/test_nicolive.py
Labels: new plugin

#2833 plugins.app17: fix for new layout
  src/streamlink/plugins/app17.py
Labels: plugin issue

#2843 plugins.twitch: Fixed clips
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#2846 plugins.twitch: remove auth
  docs/cli.rst
  docs/plugin_matrix.rst
  docs/twitch_oauth.rst
  src/streamlink/plugins/twitch.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/plugins/test_twitch.py
Labels: cleanup, plugin issue

#2837 plugins.showroom: Fix HLS missing segments
  docs/plugin_matrix.rst
  src/streamlink/plugins/showroom.py
Labels: plugin issue

#2839 plugins.kanal7: Removed Plugin they use static URLs
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/kanal7.py
  tests/plugins/test_kanal7.py
Labels: plugin removal

#2849 docs: fix multiple options on the same line
  docs/ext_argparse.py
Labels: documentation

#2826 plugins.radiko: Add support for radiko.jp
  docs/plugin_matrix.rst
  src/streamlink/plugins/radiko.py
  tests/plugins/test_radiko.py
Labels: new plugin

#2838 plugins.rotana: new plugin for rotana.net
  docs/plugin_matrix.rst
  src/streamlink/plugins/rotana.py
  tests/plugins/test_rotana.py
Labels: new plugin

#2840 plugins.pixiv: removed not working login process via username
  src/streamlink/plugins/pixiv.py
Labels: plugin issue

#2845 plugins.invintus: Add support for Invintus Media live streams and VOD
  docs/plugin_matrix.rst
  src/streamlink/plugins/invintus.py
  tests/plugins/test_invintus.py
Labels: new plugin
