Repository streamlink/streamlink, pull requests merged in 2020-09, with the labels that each got.

#3140 plugins.europaplus: remove plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/europaplus.py
  tests/plugins/test_europaplus.py
Labels: plugin removal

#3138 plugins.vk: remove '\' from data
  src/streamlink/plugins/vk.py
Labels: plugin issue

#3115 plugins.drdk: fix/rewrite
  docs/plugin_matrix.rst
  src/streamlink/plugins/drdk.py
  tests/plugins/test_drdk.py
Labels: plugin issue

#3152 plugins.nicolive: fix quality
  src/streamlink/plugins/nicolive.py
Labels: plugin issue

#3150 plugins.crunchyroll: update auth logic
  src/streamlink/plugins/crunchyroll.py
Labels: plugin issue

#3142 plugins.sportschau: rewrite and fix plugin
  src/streamlink/plugins/sportschau.py
  tests/plugins/test_sportschau.py
Labels: plugin issue

#3147 plugins.raiplay: rewrite and fix plugin
  src/streamlink/plugins/raiplay.py
Labels: plugin issue, restriction: geo blocked

#3173 plugins.twitch: platform=_ in access_token request
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#3163 plugins.startv: remove plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/startv.py
  tests/plugins/test_startv.py
Labels: plugin removal

#3161 plugins.dogus: add startv URL
  docs/plugin_matrix.rst
  src/streamlink/plugins/dogus.py
  tests/plugins/test_dogus.py
Labels: plugin enhancement

#3169 plugins.twitch: refactor worker, parser and tests
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
Labels: enhancement

#3182 docs: remove easy_install and clean up install page
  docs/install.rst
Labels: documentation

#3185 plugins.tv360: fix HLS URL regex and plugin
  src/streamlink/plugins/tv360.py
Labels: plugin issue

#3174 support `python -m` invocation style
  src/streamlink/__main__.py
  src/streamlink_cli/__main__.py
Labels: enhancement

#3187 Add FilteredHLSStream
  src/streamlink/plugins/twitch.py
  src/streamlink/stream/hls_filtered.py
  tests/streams/test_hls_filtered.py
Labels: stream: HLS

#3155 plugins.svtplay: rewrite/fix
  docs/plugin_matrix.rst
  src/streamlink/plugins/svtplay.py
  tests/plugins/test_svtplay.py
Labels: plugin issue, restriction: geo blocked

#3116 plugins.yupptv: fix/minor rewrite
  src/streamlink/plugins/yupptv.py
  tests/plugins/test_yupptv.py
Labels: plugin issue

#3139 plugins.wasd: fixed plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/wasd.py
  tests/plugins/test_wasd.py
Labels: plugin issue

#3194 stream.hls_filtered: fix tests
  tests/streams/test_hls_filtered.py
Labels: bug

#3196 plugins.ine: fix unescaped literal dots in js_re
  src/streamlink/plugins/ine.py
Labels: cleanup

#3193 Release 1.6.0
  CHANGELOG.md
Labels: release

#3200 Improve coverage reports on codecov
  .codecov.yml
  .coveragerc
  .github/workflows/main.yml
  codecov.yml
Labels: continuous integration

#3188 plugins.mico: new plugin for http://www.micous.com/
  docs/plugin_matrix.rst
  src/streamlink/plugins/mico.py
  tests/plugins/test_mico.py
Labels: new plugin

#3202 plugins.zattoo: fix login error
  src/streamlink/plugins/zattoo.py
Labels: plugin issue

#3205 plugins.cdnbg: update url_re, plugin test, plugin matrix
  docs/plugin_matrix.rst
  src/streamlink/plugins/cdnbg.py
  tests/plugins/test_cdnbg.py
Labels: plugin issue

#3199 plugins.tv999: new plugin for http://tv999.bg/live.html
  docs/plugin_matrix.rst
  src/streamlink/plugins/tv999.py
  tests/plugins/test_tv999.py
Labels: new plugin

#3208 ci.coverage: increase threshold of tests status
  .codecov.yml
Labels: continuous integration

#3209 tests: clean up existing HLS stream tests
  src/streamlink/stream/hls.py
  tests/mixins/__init__.py
  tests/mixins/stream_hls.py
  tests/plugins/test_twitch.py
  tests/streams/test_hls.py
  tests/streams/test_hls_filtered.py
Labels: cleanup

#3207 plugins.aljazeeraen: plugin removal
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/aljazeeraen.py
  tests/plugins/test_aljazeeraen.py
Labels: plugin removal

#3215 plugin.api.useragents: update User-Agent
  src/streamlink/plugin/api/useragents.py
Labels: cleanup
