Repository streamlink/streamlink, pull requests merged in 2020-04, with the labels that each got.

#2656 CI/CD: Github actions
  .github/release_template.md
  .github/workflows/main.yml
  doctr_deploy_key.enc
  id_rsa_docs.gpg
  script/build-and-sign.sh
  script/deploy-docs.sh
  script/deploy-pypi.sh
  script/github_releases.py
  script/install-dependencies.sh
  script/makeinstaller.sh
  script/sdistsign.sh
  signing.key.enc
  signing.key.gpg
Labels: continuous integration

#2862 ci: cleanup
  .github/workflows/main.yml
  README.md
  codecov.yml
  script/github_releases.py
  script/makeinstaller.sh
Labels: continuous integration

#2864 docs: fix duplicate object description of streamlink in api docs
  docs/api_guide.rst
Labels: documentation

#2870 ci.github: fix continue on error
  .github/workflows/main.yml
Labels: continuous integration

#2866 plugins.tv360: updated URL and HLS stream extraction method
  src/streamlink/plugins/tv360.py
  tests/plugins/test_tv360.py
Labels: plugin issue

#2858 Youtube Plugin Fix
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#2875 Added support for clan tve, children's channel of RTVE
  docs/plugin_matrix.rst
  src/streamlink/plugins/rtve.py
  tests/plugins/test_rtve.py
Labels: plugin enhancement

#2878 plugins.abema: support for Abema overseas version
  src/streamlink/plugins/abematv.py
Labels: plugin enhancement

#2879 plugins.younow: remove plugin
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/younow.py
  tests/plugins/test_younow.py
Labels: plugin removal

#2877 plugin.api.useragents: update User-Agent
  src/streamlink/plugin/api/useragents.py
Labels: enhancement

#2881 Updating README
  README.md
Labels: documentation

#2887 plugins.zattoo: fix app token and new recording URL
  src/streamlink/plugins/zattoo.py
  tests/plugins/test_zattoo.py
Labels: plugin issue

#2888 plugins.zeenews: new plugin for https://zeenews.india.com/live-tv
  docs/plugin_matrix.rst
  src/streamlink/plugins/zeenews.py
  tests/plugins/test_zeenews.py
Labels: new plugin

#2889 AUTHORS: removed unused script and removed outdated list
  AUTHORS
  script/authors.sh
  src/streamlink/__init__.py
Labels: documentation

#2869 utils: update_qsd to leave blank values unchanged
  src/streamlink/utils/url.py
  tests/test_utils_url.py
Labels: bug

#2794 plugins.kugou: Add Kugou Fanxing live plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/kugou.py
  tests/plugins/test_kugou.py
Labels: new plugin

#2907 plugins.eurocom: remove eurocom plugin
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/eurocom.py
  tests/plugins/test_eurocom.py
Labels: plugin removal

#2911 plugins.tv1channel: remove tv1channel plugin
  docs/plugin_matrix.rst
  script/makeinstaller.sh
  src/streamlink/plugins/tv1channel.py
  tests/plugins/test_tv1channel.py
Labels: plugin removal

#2895 plugins.twitch: rewrite disable ads logic
  src/streamlink/plugins/twitch.py
  src/streamlink/stream/hls.py
  tests/plugins/test_twitch.py
Labels: plugin issue

#2926 Release 1.4.0
  CHANGELOG.md
Labels: release

#2931 Release 1.4.1
  CHANGELOG.md
Labels: release

#2939 plugins.showroom: use normal HLSStreams
  src/streamlink/plugins/showroom.py
Labels: plugin issue

#2938 docs: remove unimportant note / file
  NOTICE
  build.cmd
  docs/install.rst
Labels: documentation

#2937 plugins.viasat: remove play.nova.bg domain
  docs/plugin_matrix.rst
  src/streamlink/plugins/viasat.py
  tests/plugins/test_viasat.py
Labels: plugin issue, plugin removal

#2932 actions: fixed incorrect versions and use names for codecov
  .github/workflows/main.yml
Labels: WIP, continuous integration

#2927 plugins.nbcnews: new plugin for http://nbcnews.com/now
  docs/plugin_matrix.rst
  src/streamlink/plugins/nbcnews.py
  tests/plugins/test_nbcnews.py
Labels: new plugin
