Repository streamlink/streamlink, pull requests merged in 2021-05, with the labels that each got.

#3699 docs: fix winget package link
  docs/install.rst
Labels: documentation

#3710 plugins.nicolive: fix nicolive broken with proxy
  src/streamlink/plugins/nicolive.py
Labels: plugin issue

#3722 plugins.mitele: use '_{bitrate}' and remove duplicates
  src/streamlink/plugins/mitele.py
Labels: plugin enhancement, plugin issue

#3721 stream.hls_playlist: round BANDWIDTH and parse as int
  src/streamlink/stream/hls_playlist.py
  tests/streams/test_hls_playlist.py
Labels: stream: HLS

#3725 plugins.bbciplayer: fix/update state_re regex
  src/streamlink/plugins/bbciplayer.py
Labels: plugin issue

#3728 ci.github: add python 3.10-dev to test runners
  .github/workflows/main.yml
Labels: continuous integration

#3732 plugins.youtube: add html5=1 parameter
  src/streamlink/plugins/youtube.py
Labels: PR: needs commit message fix, PR: squash commits, plugin issue

#3735 release: 2.1.2
  CHANGELOG.md
Labels: release

#3742 plugins.rtpplay: fix obfuscated HLS URL parsing
  src/streamlink/plugins/rtpplay.py
  tests/plugins/test_rtpplay.py
Labels: plugin issue

#3748 plugins.tf1: fixed api_url
  src/streamlink/plugins/tf1.py
Labels: plugin issue, restriction: geo blocked

#3750 docs: set man_make_section_directory to false
  docs/conf.py
Labels: documentation, packages

#3756 tests.hls: test headers on segment+key requests
  tests/mixins/stream_hls.py
  tests/streams/test_hls.py
Labels: stream: HLS, tests

#3755 cli.argparser: fix description text
  src/streamlink_cli/argparser.py
Labels: documentation

#3662 plugins.bfmtv: fix/find Brightcove video data in JS
  src/streamlink/plugins/bfmtv.py
Labels: plugin issue

#3765 utils.url: fix update_scheme with implicit schemes
  src/streamlink/utils/url.py
  tests/test_utils_url.py
Labels: bug

#3760 plugins.olympicchannel: fix / rewrite
  docs/plugin_matrix.rst
  src/streamlink/plugins/olympicchannel.py
  tests/plugins/test_olympicchannel.py
Labels: plugin issue

#3762 plugins.twitch: add access token to clips
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#3585 plugins.booyah: new plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/booyah.py
  tests/plugins/test_booyah.py
Labels: new plugin

#3753 cli: implement --logfile
  docs/ext_argparse.py
  src/streamlink/logger.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/compat.py
  src/streamlink_cli/constants.py
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: feature request
