Repository streamlink/streamlink, pull requests merged in 2021-02, with the labels that each got.

#3483 session: implement --interface, --ipv4 and --ipv6
  src/streamlink/session.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/test_session.py
Labels: feature request

#3535 docs: remove RosadinTV Windows portable version
  docs/install.rst
Labels: documentation

#3549 plugins.afreeca: use 'gs_cdn_pc_web' and 'common'
  src/streamlink/plugins/afreeca.py
Labels: plugin issue

#3548 ci.github: increase git fetch depth of tests
  .github/workflows/main.yml
Labels: continuous integration

#3440 stream.dash: Fix static playlist - refresh_wait - Pipe copy aborted - Read timeout
  src/streamlink/stream/dash.py
  tests/resources/dash/test_11_static.mpd
  tests/streams/test_dash.py
  tests/streams/test_dash_parser.py
Labels: stream: DASH

#3508 plugins.nimotv: new plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/nimotv.py
  tests/plugins/test_nimotv.py
Labels: new plugin

#3544 plugins.tvtoya: minor fixes
  src/streamlink/plugins/tvtoya.py
Labels: plugin issue

#3547 tests: fix test code coverage
  tests/resources/__init__.py
  tests/test_api_http_session.py
  tests/test_buffer.py
  tests/test_cmdline_title.py
  tests/test_localization.py
  tests/test_plugin_utils.py
Labels: tests

#3551 ci.codecov: 100% tests target, add patch status
  .codecov.yml
Labels: continuous integration

#3554 docs: clean up package maintainers list
  docs/install.rst
Labels: documentation

#3555 docs: update Debian stable install instructions
  docs/install.rst
Labels: documentation

#3559 plugins.vtvgo: ignore duplicate params
  src/streamlink/plugins/vtvgo.py
Labels: plugin issue

#3578 ci.codecov: disable GH status check annotations
  .codecov.yml
Labels: continuous integration

#3577 plugins.mjunoon: rewrite/fix
  docs/plugin_matrix.rst
  src/streamlink/plugins/mjunoon.py
  tests/plugins/test_mjunoon.py
Labels: plugin issue

#3583 plugins.openrectv: update/fix
  src/streamlink/plugins/openrectv.py
Labels: plugin enhancement
