Repository streamlink/streamlink, pull requests merged in 2021-10, with the labels that each got.

#4061 plugins.bfmtv: rewrite plugin using XPath
  src/streamlink/plugins/bfmtv.py
Labels: plugin enhancement

#4060 plugins.youtube: replace itertags with XPath
  src/streamlink/plugins/youtube.py
Labels: plugin enhancement

#4058 plugins.youtube: Better API age-gate bypassing
  src/streamlink/plugins/youtube.py
Labels: plugin enhancement

#4064 plugins.pandalive: new plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/pandalive.py
  tests/plugins/test_pandalive.py
Labels: new plugin

#4067 tests: fix partial coverage in can_handle_url
  tests/plugins/__init__.py
  tests/plugins/test_mediavitrina.py
  tests/plugins/test_orf_tvthek.py
Labels: bug, tests

#4069 session: don't override https-proxy scheme
  src/streamlink/session.py
  tests/test_session.py
Labels: bug

#4065 plugins.showroom: cleanup
  src/streamlink/plugins/showroom.py
  tests/plugins/test_showroom.py
Labels: plugin enhancement, cleanup

#4068 session: move from http to https as default scheme
  src/streamlink/plugins/akamaihd.py
  src/streamlink/plugins/dash.py
  src/streamlink/plugins/hds.py
  src/streamlink/plugins/hls.py
  src/streamlink/plugins/http.py
  src/streamlink/session.py
  tests/plugins/test_dash.py
  tests/plugins/test_stream.py
  tests/test_session.py
Labels: feature request

#4070 plugins.brightcove: rewrite plugin
  src/streamlink/plugins/brightcove.py
  tests/plugins/test_brightcove.py
Labels: plugin enhancement, cleanup

#4120 cli: remove the https-proxy option in favour of a single http-proxy option
  docs/cli.rst
  docs/deprecations.rst
  src/streamlink/session.py
  src/streamlink_cli/argparser.py
  tests/test_session.py
Labels: CLI, API: session

#4124 installer: bump ffmpeg to n4.4.1
  script/makeinstaller-assets.json
Labels: dependencies, Windows installer

#4129 plugins.tga: remove plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/tga.py
  tests/plugins/test_tga.py
Labels: plugin removal
