Repository streamlink/streamlink, pull requests merged in 2021-04, with the labels that each got.

#3653 build: include .removed file in setup.py build
  setup.py
Labels: packages

#3672 plugins.youtube: fix consent dialog
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#3677 plugins.youtube: add short video URLs
  src/streamlink/plugins/youtube.py
  tests/plugins/test_youtube.py
Labels: plugin enhancement

#3658 plugins.abematv: Fixed download problem again.
  src/streamlink/plugins/abematv.py
Labels: plugin issue

#3661 plugins.picarto: rewrite/fix
  src/streamlink/plugins/picarto.py
  tests/plugins/test_picarto.py
Labels: plugin issue

#3686 plugins.hitbox: remove plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/hitbox.py
  tests/plugins/test_hitbox.py
Labels: plugin removal

#3698 plugins.euronews: rewrite and fix live streams
  src/streamlink/plugins/euronews.py
Labels: plugin issue
