Repository streamlink/streamlink, pull requests merged in 2021-07, with the labels that each got.

#3835 docs: add deprecations page
  docs/deprecations.rst
  docs/index.rst
Labels: documentation

#3838 plugins.cdnbg: Fix regex and referer issues
  src/streamlink/plugins/cdnbg.py
  tests/plugins/test_cdnbg.py
Labels: plugin issue

#3842 plugins.rtlxl: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/rtlxl.py
  tests/plugins/test_rtlxl.py
Labels: plugin removal

#3841 plugins.CanalPlus: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/canalplus.py
  tests/plugins/test_canalplus.py
Labels: plugin removal

#3845 plugins.liveedu: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/liveedu.py
  tests/plugins/test_liveedu.py
Labels: plugin removal

#3843 plugins.Streamingvideoprovider: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/streamingvideoprovider.py
  tests/plugins/test_streamingvideoprovider.py
Labels: plugin removal

#3849 plugins.tv8: remove API, find HLS via simple regex
  src/streamlink/plugins/tv8.py
Labels: plugin issue

#3847 plugins.youtube: find videoId on channel pages
  src/streamlink/plugins/youtube.py
  tests/plugins/test_youtube.py
Labels: plugin enhancement

#3850 plugins.openrectv: update HLS URLs
  src/streamlink/plugins/openrectv.py
Labels: plugin issue

#3854 chore: replace issue templates with forms
  .github/ISSUE_TEMPLATE/0_use_the_issue_template.md
  .github/ISSUE_TEMPLATE/1_plugin_issue.md
  .github/ISSUE_TEMPLATE/1_plugin_issue.yml
  .github/ISSUE_TEMPLATE/1_plugin_request.md
  .github/ISSUE_TEMPLATE/1_plugin_request.yml
  .github/ISSUE_TEMPLATE/2_bug_report.md
  .github/ISSUE_TEMPLATE/2_bug_report.yml
  .github/ISSUE_TEMPLATE/3_feature_request.md
  .github/ISSUE_TEMPLATE/3_feature_request.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/issue_template.md
  CONTRIBUTING.md
Labels: meta

#3855 chore: fix issue forms checklist
  .github/ISSUE_TEMPLATE/1_plugin_issue.yml
  .github/ISSUE_TEMPLATE/1_plugin_request.yml
  .github/ISSUE_TEMPLATE/2_bug_report.yml
  .github/ISSUE_TEMPLATE/3_feature_request.yml
Labels: meta

#3856 tests: remove mock from dev dependencies
  dev-requirements.txt
Labels: cleanup

#3864 vendor: set requests to >=2.26.0,<3
  script/makeinstaller.sh
  setup.py
Labels: Windows installer, dependency issue

#3870 tests: temporarily skip broken tests on win32
  tests/plugins/test_twitch.py
  tests/streams/test_hls.py
  tests/streams/test_hls_filtered.py
Labels: os: Windows, tests

#3869 tests: fix unnecessary hostname lookup in cli_main
  tests/test_cli_main.py
Labels: tests

#3873 plugins.youtube: detect Livestreams with 'isLive'
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#3862 docs: fix headline anchors on deprecations page
  docs/deprecations.rst
Labels: documentation

#3880 vendor: downgrade requests to 2.25.1 on Windows
  script/makeinstaller.sh
  setup.py
  tests/plugins/test_twitch.py
  tests/streams/test_hls.py
  tests/streams/test_hls_filtered.py
Labels: Windows installer, dependency issue, os: Windows, tests

#3871 plugins.tv4play: fix plugin URL regex
  src/streamlink/plugins/tv4play.py
  tests/plugins/test_tv4play.py
Labels: plugin issue

#3885 streams.hls: fix playlist_reload_time
  src/streamlink/plugins/twitch.py
  src/streamlink/stream/hls.py
  tests/mixins/stream_hls.py
  tests/streams/test_hls.py
  tests/streams/test_hls_filtered.py
Labels: bug, stream: HLS

#3882 plugins.nimotv: use 'mStreamPkg'
  src/streamlink/plugins/nimotv.py
  tests/plugins/test_nimotv.py
Labels: plugin issue

#3887 stream.hls: set fallback playlist reload time to 6 seconds
  src/streamlink/stream/hls.py
  tests/streams/test_hls.py
Labels: stream: HLS

#3888 release: 2.3.0
  CHANGELOG.md
Labels: release

#3893 session: deprecate options for spec. stream types
  docs/deprecations.rst
  docs/issues.rst
  src/streamlink/session.py
  src/streamlink/stream/dash.py
  src/streamlink/stream/hds.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/http.py
  src/streamlink/stream/rtmpdump.py
  src/streamlink/stream/segmented.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
Labels: CLI, cleanup, stream: DASH, stream: HDS, stream: HLS, stream: RTMP

#3894 stream.hls: remove hls-segment-stream-data option
  src/streamlink/plugins/twitch.py
  src/streamlink/session.py
  src/streamlink/stream/hls.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/plugins/test_twitch.py
Labels: stream: HLS
