Repository streamlink/streamlink, pull requests merged in 2021-08, with the labels that each got.

#3896 docs: reorganize stream transport options
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
Labels: CLI, documentation

#3902 stream.hls: except more errors raised by requests
  src/streamlink/stream/hls.py
Labels: stream: HLS

#3903 stream.hls: handle exception StreamError in Thread-HLSStreamWorker - iter_segments
  src/streamlink/stream/hls.py
Labels: stream: HLS

#3904 plugins.raiplay: use 'res.encoding = "UTF-8"'
  src/streamlink/plugins/raiplay.py
Labels: plugin issue, dependency issue

#3905 plugins.rtve: update for /play/ URLs
  docs/plugin_matrix.rst
  src/streamlink/plugins/rtve.py
  tests/plugins/test_rtve.py
Labels: plugin issue, restriction: geo blocked

#3906 plugins.zattoo: fix HLS stream, added more debug details
  docs/plugin_matrix.rst
  src/streamlink/plugins/zattoo.py
  tests/plugins/test_zattoo.py
Labels: plugin issue

#3908 tests.hls: fix playlist reload time tests
  tests/streams/test_hls.py
Labels: stream: HLS, tests

#3910 stream.hls: close stream on initial parsing error
  src/streamlink/stream/hls.py
  tests/mixins/stream_hls.py
  tests/streams/test_hls.py
Labels: stream: HLS, tests

#3909 plugins.nbcnews: fix stream URL extraction
  src/streamlink/plugins/nbcnews.py
Labels: plugin issue

#3918 installer: upgrade to python 3.9
  docs/install.rst
  script/makeinstaller.sh
Labels: Windows installer

#3928 docs: update python-requests version comment
  docs/install.rst
Labels: documentation

#3932 plugins.huomao: plugin removal
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/huomao.py
  tests/plugins/test_huomao.py
Labels: plugin removal

#3938 plugins.abematv: skip invalid ad segments
  src/streamlink/plugins/abematv.py
Labels: plugin issue, restriction: geo blocked

#3947 plugins.sportschau: fix audio streams
  src/streamlink/plugins/sportschau.py
Labels: plugin issue

#3951 plugins.animelab: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/animelab.py
  tests/plugins/test_animelab.py
Labels: plugin removal

#3949 plugins.svtplay: fix plugin video id
  src/streamlink/plugins/svtplay.py
Labels: plugin issue, restriction: geo blocked

#3952 vendor: add lxml dependency
  docs/install.rst
  script/makeinstaller.sh
  setup.py
Labels: dependencies

#3953 plugins.deutschewelle: rewrite plugin
  src/streamlink/plugins/deutschewelle.py
Labels: plugin issue

#3960 plugins.pluto: fix URL match for 2 letter language codes
  src/streamlink/plugins/pluto.py
  tests/plugins/test_pluto.py
Labels: plugin issue

#3966 plugins.gardenersworld: remove plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/gardenersworld.py
  tests/plugins/test_gardenersworld.py
Labels: plugin removal

#3962 cli: player title and file output metadata vars
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  src/streamlink_cli/utils/__init__.py
  src/streamlink_cli/utils/formatter.py
  src/streamlink_cli/utils/path.py
  tests/test_cli_main.py
  tests/test_cli_utils_formatter.py
  tests/test_cli_utils_path.py
Labels: feature request, CLI

#3967 plugin.api.validate: switch to lxml.etree
  src/streamlink/plugin/api/validate.py
  src/streamlink/plugins/radiko.py
  src/streamlink/utils/__init__.py
  tests/resources/__init__.py
  tests/test_api_validate.py
  tests/test_utils.py
Labels: enhancement

#3969 plugins.booyah: add support for source stream
  src/streamlink/plugins/booyah.py
Labels: plugin enhancement
