Repository streamlink/streamlink, pull requests merged in 2021-12, with the labels that each got.

#4222 plugins.youtube: fix metadata on /live URLs
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#4229 stream.hls: read and discard filtered sequences properly
  src/streamlink/stream/hls.py
Labels: bug, stream: HLS

#4238 plugins.ustreamtv: fix websocket address
  src/streamlink/plugins/ustreamtv.py
Labels: plugin issue

#4232 plugins.pluto: rewrite/fix
  src/streamlink/plugins/pluto.py
  tests/plugins/test_pluto.py
Labels: plugin issue

#4244 plugins.steam: refactor plugin
  src/streamlink/plugins/steam.py
Labels: cleanup

#4247 plugins.onetv: added support for channel with different timezone +4
  src/streamlink/plugins/onetv.py
  tests/plugins/test_onetv.py
Labels: plugin enhancement

#4246 plugins.stadium: rewrite
  docs/plugin_matrix.rst
  src/streamlink/plugins/stadium.py
  tests/plugins/test_stadium.py
Labels: plugin enhancement, cleanup

#4252 cli: create file output before opening the stream
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: bug, CLI

#4254 plugins.albavision: fix/update
  src/streamlink/plugins/albavision.py
  tests/plugins/test_albavision.py
Labels: plugin issue

#4256 plugins.albavision: update plugin_matrix.rst
  docs/plugin_matrix.rst
Labels: documentation

#4255 plugins.pluto: add filtering of bumper segments
  src/streamlink/plugins/pluto.py
Labels: plugin enhancement

#4260 plugins.ceskatelevize: Fix Livestreams
  docs/plugin_matrix.rst
  src/streamlink/plugins/ceskatelevize.py
  tests/plugins/test_ceskatelevize.py
Labels: plugin issue, restriction: geo blocked

#4259 plugins.mediavitrina: better support for different channel names
  src/streamlink/plugins/mediavitrina.py
  tests/plugins/test_mediavitrina.py
Labels: plugin enhancement, restriction: geo blocked

#4261 plugins.yupptv: override encoding, set Origin header
  src/streamlink/plugins/yupptv.py
Labels: plugin issue, restriction: account needed, PR: squash commits, PR: needs commit message fix

#4263 plugins.live_russia_tv: removed outdated plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/live_russia_tv.py
  tests/plugins/test_live_russia_tv.py
Labels: plugin removal, restriction: geo blocked

#4265 tests: fix named pipe being created in CLI tests
  tests/test_cli_main.py
Labels: bug, tests

#4264 plugins.liveme: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/liveme.py
  tests/plugins/test_liveme.py
Labels: plugin removal

#4266 plugins.vtvgo: remove itertags
  src/streamlink/plugins/vtvgo.py
Labels: cleanup

#4267 plugins.vk: rewrite and remove itertags
  src/streamlink/plugins/vk.py
  tests/plugins/test_vk.py
Labels: plugin enhancement, cleanup

#4269 plugins.latina: remove plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/latina.py
  tests/plugins/test_latina.py
Labels: plugin removal

#4268 plugins.streann: remove itertags
  src/streamlink/plugins/streann.py
  tests/plugins/test_streann.py
Labels: cleanup

#4270 plugins.abweb: removed
  docs/plugin_matrix.rst
  src/streamlink/plugins/.removed
  src/streamlink/plugins/abweb.py
  tests/plugins/test_abweb.py
Labels: plugin removal

#4271 plugins.dogus: update and cleanup
  src/streamlink/plugins/dogus.py
  tests/plugins/test_dogus.py
Labels: plugin issue, cleanup

#4272 plugins.nos: remove itertags
  src/streamlink/plugins/nos.py
Labels: cleanup

#4274 tests: rewrite plugins_meta tests
  tests/test_plugins_meta.py
Labels: tests
