Repository streamlink/streamlink, pull requests merged in 2021-11, with the labels that each got.

#4140 plugins.picarto: update URL regex and logic
  src/streamlink/plugins/picarto.py
  tests/plugins/test_picarto.py
Labels: plugin issue

#4143 vendor: bump lxml to >4.6.4,<5.0
  script/install-dependencies.sh
  setup.py
Labels: dependencies, os: Windows, os: macOS, continuous integration

#4144 setup: add Python 3.10 to classifiers list
  setup.cfg
Labels: packages

#4138 plugins.ltv_lsm_lv: update the plugin for the new page layout
  src/streamlink/plugins/ltv_lsm_lv.py
  tests/plugins/test_ltv_lsm_lv.py
Labels: plugin issue

#4141 ci.github: check for unicode bidi control chars
  .github/workflows/main.yml
Labels: continuous integration

#4147 plugins.nicolive: add support for community urls
  src/streamlink/plugins/nicolive.py
  tests/plugins/test_nicolive.py
Labels: plugin enhancement

#4148 installer: bump lxml to 4.6.4
  script/makeinstaller.sh
Labels: dependencies, Windows installer

#4151 logger: fix warning import and trace export
  src/streamlink/logger.py
Labels: cleanup

#4152 plugin.api: update useragents
  src/streamlink/plugin/api/useragents.py
Labels: enhancement

#4153 plugin.api: implement WebsocketClient
  setup.py
  src/streamlink/plugin/api/websocket.py
  src/streamlink/session.py
  tests/test_api_websocket.py
  tests/test_session.py
Labels: API: websocket

#4154 plugins.twitcasting: re-implement websocket client
  src/streamlink/plugins/twitcasting.py
Labels: plugin enhancement

#4156 plugins.twitch: new plugin command --twitch-api-header
  src/streamlink/plugins/twitch.py
Labels: plugin enhancement

#4155 plugins.nicolive: re-implement plugin
  src/streamlink/plugins/nicolive.py
Labels: plugin enhancement

#4159 revert: stream.hls: remove hls-segment-stream-data option
  src/streamlink/plugins/twitch.py
  src/streamlink/session.py
  src/streamlink/stream/hls.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/plugins/test_twitch.py
Labels: bug, dependencies, stream: HLS

#4166 plugins.goltelevision: fix api url and update plugin url
  src/streamlink/plugins/goltelevision.py
  tests/plugins/test_goltelevision.py
Labels: plugin issue, restriction: geo blocked

#4167 plugins.twitch: refactor api-headers
  src/streamlink/plugins/twitch.py
Labels: plugin enhancement

#4168 streams: remove HDS/AkamaiHD and flashmedia pkg
  NOTICE
  docs/api.rst
  docs/cli.rst
  docs/issues.rst
  script/makeinstaller.sh
  setup.cfg
  src/streamlink/packages/flashmedia/__init__.py
  src/streamlink/packages/flashmedia/amf.py
  src/streamlink/packages/flashmedia/box.py
  src/streamlink/packages/flashmedia/compat.py
  src/streamlink/packages/flashmedia/error.py
  src/streamlink/packages/flashmedia/f4v.py
  src/streamlink/packages/flashmedia/flv.py
  src/streamlink/packages/flashmedia/ordereddict.py
  src/streamlink/packages/flashmedia/packet.py
  src/streamlink/packages/flashmedia/tag.py
  src/streamlink/packages/flashmedia/types.py
  src/streamlink/packages/flashmedia/util.py
  src/streamlink/plugin/plugin.py
  src/streamlink/plugins/.removed
  src/streamlink/plugins/akamaihd.py
  src/streamlink/plugins/common_swf.py
  src/streamlink/plugins/hds.py
  src/streamlink/session.py
  src/streamlink/stream/__init__.py
  src/streamlink/stream/akamaihd.py
  src/streamlink/stream/flvconcat.py
  src/streamlink/stream/hds.py
  src/streamlink/stream/playlist.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/plugin/testplugin.py
  tests/plugins/test_stream.py
  tests/stream/test_stream_to_url.py
  tests/test_plugins_meta.py
  tests/test_session.py
  tests/test_stream_json.py
  win32/THIRD-PARTY.txt
  win32/config
Labels: dependencies, plugin removal, stream: HDS, End of Life

#4169 stream: remove RTMP and RTMPDump dependency
  docs/api.rst
  docs/api_guide.rst
  docs/cli.rst
  docs/install.rst
  docs/players.rst
  script/makeinstaller-assets.json
  script/makeinstaller.sh
  src/streamlink/plugin/plugin.py
  src/streamlink/plugins/rtmp.py
  src/streamlink/session.py
  src/streamlink/stream/__init__.py
  src/streamlink/stream/rtmpdump.py
  src/streamlink/stream/streamprocess.py
  src/streamlink/utils/__init__.py
  src/streamlink/utils/rtmp.py
  src/streamlink/utils/swf.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/constants.py
  src/streamlink_cli/main.py
  tests/plugin/testplugin.py
  tests/plugins/test_stream.py
  tests/stream/test_stream_streamprocess.py
  tests/stream/test_stream_to_url.py
  tests/test_cmdline.py
  tests/test_plugins_meta.py
  tests/test_session.py
  tests/test_stream_json.py
  tests/test_streamlink_api.py
  tests/utils/test_rtmp.py
  tests/utils/test_swf.py
  win32/config
Labels: dependencies, plugin removal, stream: RTMP, CLI, End of Life, API: session

#4172 plugins.rtmp: add to removed plugins list
  src/streamlink/plugins/.removed
Labels: plugin removal, cleanup

#4171 stream.http: fix custom method argument
  docs/cli.rst
  src/streamlink/stream/http.py
Labels: bug, stream: HTTP

#4174 setup: drop pycrypto support
  docs/install.rst
  setup.py
Labels: documentation, dependencies, cleanup, build config

#4175 setup: drop iso-639/iso3166, default to pycountry
  docs/install.rst
  script/install-dependencies.sh
  script/makeinstaller.sh
  setup.cfg
  setup.py
  src/streamlink/utils/l10n.py
  tests/utils/test_l10n.py
Labels: dependencies, cleanup, build config

#4176 installer: upgrade python from 3.9.7 to 3.9.8
  script/makeinstaller.sh
Labels: Windows installer

#4178 setup: include shell completions in sdist
  .gitignore
  MANIFEST.in
  script/build-shell-completions.sh
  setup.py
Labels: build config

#4177 release: 3.0.0
  CHANGELOG.md
  docs/deprecations.rst
Labels: WIP, release

#4180 installer: rewrite wheels config, fix pycountry
  .github/workflows/main.yml
  script/makeinstaller-requirements.json
  script/makeinstaller.sh
Labels: bug, Windows installer

#4181 release: 3.0.1
  CHANGELOG.md
Labels: release

#4185 plugins.crunchyroll: add metadata attributes
  src/streamlink/plugins/crunchyroll.py
Labels: plugin enhancement

#4190 cli: override default signal handlers
  src/streamlink_cli/__init__.py
  src/streamlink_cli/main.py
  tests/__init__.py
  tests/test_cli_main.py
Labels: CLI

#4194 plugins.twitch: set playerType back to embed
  src/streamlink/plugins/twitch.py
Labels: plugin enhancement

#4195 plugins.twitch: calculate the average duration for prefetch segments
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
Labels: plugin enhancement

#4199 plugins.tviplayer: new plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/tviplayer.py
  tests/plugins/test_tviplayer.py
Labels: new plugin

#4200 plugins.ard_mediathek: rewrite plugin
  src/streamlink/plugins/ard_mediathek.py
Labels: plugin issue

#4201 utils.parse: fix encoding in parse_html
  src/streamlink/utils/parse.py
  tests/utils/test_parse.py
Labels: bug

#4202 plugins.ard_mediathek: fix plugin
  src/streamlink/plugins/ard_mediathek.py
Labels: plugin issue

#4204 cli: expand user in file output paths
  src/streamlink_cli/utils/path.py
  tests/test_cli_utils_path.py
Labels: CLI

#4206 cli.output: remove MPV title variable escape logic
  src/streamlink_cli/argparser.py
  src/streamlink_cli/output.py
  tests/test_output.py
Labels: documentation, player issue, CLI

#4207 docs: add dedicated metadata variables section
  docs/cli.rst
  src/streamlink_cli/argparser.py
Labels: documentation

#4208 release: 3.0.2
  CHANGELOG.md
Labels: release

#4210 utils.parse: parse invalid XHTML5 documents
  src/streamlink/utils/parse.py
  tests/utils/test_parse.py
Labels: bug

#4213 cli: prioritize --help and fix its output
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: bug, CLI

#4214 plugins.youtube: add category metadata
  src/streamlink/plugins/youtube.py
Labels: plugin enhancement

#4219 plugins.svtplay: fix live channel URL matching
  src/streamlink/plugins/svtplay.py
Labels: plugin issue, restriction: geo blocked

#4220 stream.dash: sort video duplicated resolutions by bandwidth
  src/streamlink/stream/dash.py
  tests/stream/test_dash.py
Labels: stream: DASH
