Repository streamlink/streamlink, pull requests merged in 2022-10, with the labels that each got.

#4863 logger: fix trace() module name on py311
  src/streamlink/logger.py
  tests/test_logger.py
Labels: bug, logging

#4865 plugins.sbscokr: rewrite and fix plugin
  src/streamlink/plugins/sbscokr.py
  tests/plugins/test_sbscokr.py
Labels: plugin enhancement, cleanup

#4867 plugins.qq: rewrite and fix plugin
  src/streamlink/plugins/qq.py
  tests/plugins/test_qq.py
Labels: plugin enhancement, cleanup

#4871 plugins.tvrplus: rewrite plugin
  src/streamlink/plugins/tvrplus.py
  tests/plugins/test_tvrplus.py
Labels: cleanup

#4876 plugins.goltelevision: add missing HTTP headers
  src/streamlink/plugins/goltelevision.py
Labels: plugin issue, restriction: geo blocked

#4877 plugins.atresplayer: update input URLs
  src/streamlink/plugins/atresplayer.py
  tests/plugins/test_atresplayer.py
Labels: plugin issue, restriction: geo blocked

#4887 plugins.tv8: update stream URL regex
  src/streamlink/plugins/tv8.py
Labels: plugin issue

#4885 plugins.btv: fix validation schema
  src/streamlink/plugins/btv.py
Labels: plugin issue, restriction: geo blocked

#4892 plugins.tf1: rewrite plugin, add "stream" VODs
  src/streamlink/plugins/tf1.py
  tests/plugins/test_tf1.py
Labels: plugin enhancement, cleanup, restriction: geo blocked

#4905 plugins.tvp: rewrite and fix plugin, add VODs
  src/streamlink/plugins/tvp.py
  tests/plugins/test_tvp.py
Labels: plugin issue

#4910 plugins.dailymotion: fix validation schema
  src/streamlink/plugins/dailymotion.py
Labels: plugin issue

#4912 ci.github: add regular Python 3.11 runners
  .codecov.yml
  .github/workflows/main.yml
Labels: continuous integration
