Repository streamlink/streamlink, pull requests merged in 2022-06, with the labels that each got.

#4568 stream.hls: cache parsed multivariant playlist
  src/streamlink/plugins/ltv_lsm_lv.py
  src/streamlink/plugins/twitch.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/hls_playlist.py
  tests/stream/test_hls.py
Labels: stream: HLS

#4571 stream.hls: add methods for fetching playlists
  src/streamlink/stream/hls.py
Labels: stream: HLS

#4572 plugins.aloula: new plugin
  src/streamlink/plugins/aloula.py
  tests/plugins/test_aloula.py
Labels: new plugin

#4573 plugins.filmon: rewrite plugin
  src/streamlink/plugins/filmon.py
  tests/plugins/test_filmon.py
Labels: cleanup

#4575 cli: list all dependencies in debug output
  setup.cfg
  src/streamlink_cli/compat.py
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: dependencies, CLI

#4580 build: fix python_requires
  setup.cfg
Labels: python-3, build config

#4576 plugins.youtube: fix InitialPlayerResponse regex
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#4583 plugins.rtpa: fix 401 error, added self.title
  src/streamlink/plugins/rtpa.py
Labels: plugin issue

#4584 plugins.mediavitrina: fix invalid url_json
  src/streamlink/plugins/mediavitrina.py
  tests/plugins/test_mediavitrina.py
Labels: plugin issue

#4585 plugins.idf1: fix plugin
  src/streamlink/plugins/idf1.py
Labels: plugin issue

#4581 docs: update windows binaries section
  docs/install.rst
Labels: documentation

#4591 plugins.pandalive: update/fix
  src/streamlink/plugins/pandalive.py
Labels: plugin issue

#4590 cli: fix pluginerror in handle_url if json is True
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: bug, CLI

#4593 plugins.eltrecetv: removed
  src/streamlink/plugins/eltrecetv.py
  tests/plugins/test_eltrecetv.py
Labels: plugin removal

#4592 plugins.Telefe: fix livestream
  src/streamlink/plugins/telefe.py
  tests/plugins/test_telefe.py
Labels: plugin issue

#4594 ci: update deploy-docs script
  .github/workflows/main.yml
  id_rsa_docs.gpg
  script/deploy-docs.sh
Labels: documentation, continuous integration

#4595 docs: remove windows portable maintainer note
  docs/install.rst
Labels: documentation

#4596 docs: add openSUSE package
  docs/install.rst
Labels: documentation, packages

#4597 build: upgrade versioningit to >=2.0.0, <3
  dev-requirements.txt
  docs-requirements.txt
  pyproject.toml
Labels: dependencies, build config

#4599 docs: fix versioningit version
  docs/install.rst
Labels: documentation, build config

#4600 docs: add scoop package
  docs/install.rst
Labels: documentation, packages

#4605 plugin.api.websocket: don't join current thread
  src/streamlink/plugin/api/websocket.py
  tests/test_api_websocket.py
Labels: bug, API: websocket

#4615 docs: update homebrew package link
  docs/install.rst
Labels: documentation, packages

#4625 plugins.twitch: fix stream weight
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
  tests/resources/hls/test_master_twitch_vod.m3u8
Labels: plugin issue

#4628 plugins.twitcasting: discard text frames
  src/streamlink/plugins/twitcasting.py
Labels: plugin issue
