Repository streamlink/streamlink, pull requests merged in 2022-07, with the labels that each got.

#4632 plugins.rtve: rewrite plugin
  src/streamlink/plugins/rtve.py
  tests/plugins/test_rtve.py
Labels: plugin issue

#4634 stream.ffmpegmux: close sub-streams concurrently
  src/streamlink/stream/ffmpegmux.py
Labels: stream: ffmpegmux

#4636 plugins.trovo: update URL matching, tests
  src/streamlink/plugins/trovo.py
  tests/plugins/test_trovo.py
Labels: plugin issue

#4638 plugins.vk: add support for WAF cookie
  src/streamlink/plugins/vk.py
Labels: plugin issue

#4641 plugins.vidio: rewrite plugin
  src/streamlink/plugins/vidio.py
Labels: plugin issue

#4643 stream.hls: turn url_master into property
  docs/deprecations.rst
  src/streamlink/stream/hls.py
  tests/stream/test_hls.py
Labels: stream: HLS

#4639 release: 4.2.0
  CHANGELOG.md
Labels: release

#4644 ci: fix push filter ignoring tags
  .github/workflows/main.yml
Labels: continuous integration

#4647 ci: add cpython 3.11-dev test runners
  .github/workflows/main.yml
Labels: continuous integration

#4650 ci: fix git fetch in netlify build config
  netlify.toml
Labels: continuous integration

#4651 cli: refactor nested argparse argument groups
  docs/ext_argparse.py
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/plugins/test_funimationnow.py
  tests/plugins/test_ustreamtv.py
  tests/test_options.py
Labels: CLI

#4652 plugins.vidio: fix referer HTTP header
  src/streamlink/plugins/vidio.py
Labels: plugin issue

#4654 utils.l10n: switch to locale.getlocale()
  src/streamlink/utils/l10n.py
  tests/utils/test_l10n.py
Labels: python-3

#4656 cli: rewrite progress output
  src/streamlink_cli/main.py
  src/streamlink_cli/utils/__init__.py
  src/streamlink_cli/utils/progress.py
  src/streamlink_cli/utils/terminal.py
  tests/cli/__init__.py
  tests/cli/utils/__init__.py
  tests/cli/utils/test_progress.py
  tests/cli/utils/test_terminal.py
  tests/test_cli_util_progress.py
Labels: CLI

#4660 stream.ffmpegmux: cache executable lookups
  src/streamlink/stream/ffmpegmux.py
  tests/stream/test_ffmpegmux.py
Labels: stream: ffmpegmux

#4668 plugins.nbcnews: fix plugin
  src/streamlink/plugins/nbcnews.py
Labels: plugin issue

#4669 stream.ffmpegmux: rewrite tests
  tests/stream/test_ffmpegmux.py
Labels: tests, stream: ffmpegmux

#4671 docs: fix windows-builds repo links
  docs/install.rst
Labels: documentation

#4679 plugins.livestream: rewrite and fix plugin
  src/streamlink/plugins/livestream.py
  tests/plugins/test_livestream.py
Labels: plugin issue

#4680 refactor: is_darwin/is_win32 compat exports
  src/streamlink/compat.py
  src/streamlink/utils/named_pipe.py
  src/streamlink_cli/compat.py
  src/streamlink_cli/constants.py
  src/streamlink_cli/main.py
  src/streamlink_cli/output.py
  src/streamlink_cli/utils/path.py
  src/streamlink_cli/utils/terminal.py
  tests/test_cli_main.py
  tests/test_cmdline.py
  tests/test_cmdline_player_fifo.py
  tests/test_cmdline_title.py
  tests/utils/test_named_pipe.py
Labels: cleanup

#4681 docs: remove dead packages and add package availability notes
  docs/install.rst
Labels: documentation, packages

#4685 plugins.huya: rewrite and fix plugin
  src/streamlink/plugins/huya.py
  tests/plugins/test_huya.py
Labels: plugin issue

#4688 stream.ffmpegmux: expand user in verbose-path
  src/streamlink/stream/ffmpegmux.py
  tests/stream/test_ffmpegmux.py
Labels: stream: ffmpegmux

#4692 ci: fix new flake8 5.0.0 linting issues
  docs/ext_argparse.py
Labels: cleanup
