Repository streamlink/streamlink, pull requests merged in 2022-03, with the labels that each got.

#4364 plugins.lnk: add new plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/lnk.py
  tests/plugins/test_lnk.py
Labels: new plugin

#4372 tests: rewrite plugins tests
  tests/test_plugins.py
  tests/test_plugins_meta.py
Labels: tests

#4373 docs: update Streamlink Twitch GUI image
  docs/applications.rst
Labels: documentation

#4375 plugins.mildom: get token for livestream
  src/streamlink/plugins/mildom.py
Labels: plugin issue

#4379 docs: fix plugin metadata example
  docs/developing.rst
Labels: documentation

#4380 plugins.nicolive: fix login via email
  src/streamlink/plugins/nicolive.py
Labels: plugin issue

#4381 release: 3.2.0
  CHANGELOG.md
Labels: release

#4387 tests: fix accidental URL string concatenation
  tests/plugins/test_onetv.py
  tests/plugins/test_tv999.py
Labels: tests

#4394 chore: clean up some imports
  src/streamlink/plugins/afreeca.py
  src/streamlink/plugins/ssh101.py
  src/streamlink/plugins/twitcasting.py
Labels: cleanup

#4395 plugins.mdstrm: new plugin for mdstrm.com livestreams
  src/streamlink/plugins/mdstrm.py
  tests/plugins/test_mdstrm.py
Labels: new plugin

#4403 plugins.oneplusone: fix iframe
  src/streamlink/plugins/oneplusone.py
Labels: plugin issue

#4410 chore: remove unneeded release script
  script/release.sh
Labels: cleanup
