Repository streamlink/streamlink, pull requests merged in 2022-08, with the labels that each got.

#4701 chore: update GitHub release message body
  .github/release_template.md
Labels: documentation

#4700 plugins.atpchallenger: new plugin
  src/streamlink/plugins/atpchallenger.py
  tests/plugins/test_atpchallenger.py
Labels: new plugin

#4691 plugin.api.validate: ListSchema, re.Pattern and NoneOrAllSchema
  src/streamlink/plugin/api/validate/__init__.py
  src/streamlink/plugin/api/validate/_schemas.py
  src/streamlink/plugin/api/validate/_validate.py
  tests/test_api_validate.py
Labels: API: validate

#4703 plugins.ard_mediathek: fix plugin
  src/streamlink/plugins/ard_mediathek.py
  tests/plugins/test_ard_mediathek.py
Labels: plugin issue

#4704 plugins.zdf_mediathek: replace regex with XPath
  src/streamlink/plugins/zdf_mediathek.py
Labels: cleanup

#4705 plugins.tv360: rewrite plugin
  src/streamlink/plugins/tv360.py
Labels: cleanup

#4707 plugins.huajiao: rewrite and fix plugin
  src/streamlink/plugins/huajiao.py
  tests/plugins/test_huajiao.py
Labels: plugin issue

#4706 plugins.cinergroup: rewrite and fix plugin
  src/streamlink/plugins/cinergroup.py
  tests/plugins/test_cinergroup.py
Labels: plugin issue, cleanup

#4708 plugin.api.validate: fix pattern input type
  src/streamlink/plugin/api/validate/_validate.py
  tests/test_api_validate.py
Labels: bug, API: validate

#4709 plugin.api.validate: add RegexSchema
  src/streamlink/plugin/api/validate/__init__.py
  src/streamlink/plugin/api/validate/_schemas.py
  src/streamlink/plugin/api/validate/_validate.py
  tests/test_api_validate.py
Labels: API: validate

#4710 plugin.api.http_session: suppress type error
  src/streamlink/plugin/api/http_session.py
Labels: API: http-session

#4713 plugins.dlive: refactor
  src/streamlink/plugins/dlive.py
Labels: cleanup

#4711 plugins.cmmedia: refactor
  src/streamlink/plugins/cmmedia.py
Labels: cleanup

#4712 plugins.ltv_lsm_lv: fix plugin
  src/streamlink/plugins/ltv_lsm_lv.py
Labels: plugin issue

#4717 plugins.olympicchannel: rewrite
  src/streamlink/plugins/olympicchannel.py
Labels: cleanup

#4716 plugins.btv: rewrite
  src/streamlink/plugins/btv.py
Labels: cleanup

#4715 plugins.raiplay: refactor
  src/streamlink/plugins/raiplay.py
Labels: cleanup

#4714 plugins.blazetv: refactor
  src/streamlink/plugins/blazetv.py
Labels: cleanup

#4718 plugins: call schema.validate(value)
  src/streamlink/plugins/albavision.py
  src/streamlink/plugins/mdstrm.py
  src/streamlink/plugins/youtube.py
Labels: cleanup

#4720 docs: add missing changes to the 4.1.0 changelog
  CHANGELOG.md
Labels: documentation

#4725 plugins.deutschewelle: rewrite and fix plugin
  src/streamlink/plugins/deutschewelle.py
  tests/plugins/test_deutschewelle.py
Labels: plugin issue

#4729 plugins.picarto: Fix streams and VODs
  src/streamlink/plugins/picarto.py
Labels: plugin issue

#4730 plugins.bloomberg: fix default US live stream
  src/streamlink/plugins/bloomberg.py
  tests/plugins/test_bloomberg.py
Labels: plugin issue

#4733 plugins: remove common_jwplayer module
  src/streamlink/plugins/common_jwplayer.py
Labels: cleanup

#4734 release: 4.3.0
  CHANGELOG.md
Labels: release

#4743 plugins.cbsnews: fix regex, add metadata
  src/streamlink/plugins/cbsnews.py
  tests/plugins/test_cbsnews.py
Labels: plugin issue

#4745 plugins.steam: fix login
  src/streamlink/plugins/steam.py
Labels: plugin issue

#4746 plugin: remove user_input_requester from bind()
  src/streamlink/plugin/plugin.py
  src/streamlink/session.py
  src/streamlink/user_input.py
  src/streamlink_cli/console.py
  tests/test_plugins_input.py
Labels: API: plugin

#4751 plugin: add explicit pluginargument tests
  src/streamlink/plugin/plugin.py
  tests/test_plugin.py
Labels: tests, API: plugin

#4754 tests: rewrite plugin cookies tests
  src/streamlink/plugin/plugin.py
  tests/test_plugin.py
Labels: cleanup, tests

#4760 plugins.mitele: fix and refactor plugin
  src/streamlink/plugins/mitele.py
Labels: plugin issue, restriction: account needed, restriction: geo blocked

#4759 plugins.atresplayer: fix plugin
  src/streamlink/plugins/atresplayer.py
Labels: plugin issue, restriction: account needed, restriction: geo blocked

#4739 cli: implement --player-external-http-continuous
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
Labels: feature request, CLI

#4761 plugins.ustreamtv: fix matcher
  src/streamlink/plugins/ustreamtv.py
  tests/plugins/test_ustreamtv.py
Labels: plugin issue

#4763 plugins.huya: update `liveId` to type `str`
  src/streamlink/plugins/huya.py
Labels: plugin issue, PR: needs commit message fix

#4766 plugins.rtve: fix plugin
  src/streamlink/plugins/rtve.py
Labels: plugin issue

#4767 tests: refactor options tests
  tests/test_options.py
Labels: tests

#4770 plugins: fix regex capture groups
  src/streamlink/plugins/albavision.py
  src/streamlink/plugins/hiplayer.py
  src/streamlink/plugins/htv.py
Labels: plugin issue

#4771 docs: add plugin{matcher,argument} docstrings
  docs/api.rst
  src/streamlink/options.py
  src/streamlink/plugin/plugin.py
Labels: documentation, API: plugin

#4773 chore: use f-strings for concatenation
  src/streamlink/cache.py
  src/streamlink/logger.py
  src/streamlink/plugins/abematv.py
  src/streamlink/plugins/bbciplayer.py
  src/streamlink/plugins/dailymotion.py
  src/streamlink/plugins/dash.py
  src/streamlink/plugins/ntv.py
  src/streamlink/plugins/radiko.py
  src/streamlink/plugins/tf1.py
  src/streamlink/stream/dash_manifest.py
  src/streamlink/stream/hls_playlist.py
  src/streamlink_cli/main.py
  tests/resources/__init__.py
Labels: cleanup

#4772 plugin.api.validate: refactor ValidationError
  src/streamlink/plugin/api/validate/__init__.py
  src/streamlink/plugin/api/validate/_exception.py
  src/streamlink/plugin/api/validate/_validate.py
  src/streamlink/plugin/api/validate/_validators.py
  tests/test_api_validate.py
Labels: API: validate

#4778 plugins.hiplayer: add alwasat.ly
  src/streamlink/plugins/hiplayer.py
  tests/plugins/test_hiplayer.py
Labels: plugin enhancement

#4779 plugins.okru: translate mobile URLs
  src/streamlink/plugins/okru.py
  tests/plugins/test_okru.py
Labels: plugin enhancement

#4780 plugins.okru: support mobile page
  src/streamlink/plugins/okru.py
  tests/plugins/test_okru.py
Labels: plugin enhancement

#4781 stream.ffmpegmux: show warning if unavailable
  src/streamlink/stream/ffmpegmux.py
  tests/stream/test_ffmpegmux.py
Labels: stream: ffmpegmux

#4784 cli.utils.progress: refactor
  src/streamlink_cli/utils/progress.py
Labels: cleanup

#4785 logger: log deprecation messages as warnings
  src/streamlink/plugin/plugin.py
  src/streamlink/session.py
  src/streamlink_cli/main.py
  tests/test_cli_main.py
  tests/test_plugin.py
  tests/test_session.py
Labels: logging
