Repository streamlink/streamlink, pull requests merged in 2022-09, with the labels that each got.

#4789 tests: remove custom catch_warnings function
  tests/__init__.py
  tests/test_meta.py
Labels: cleanup, tests

#4796 cli: refactor version check
  src/streamlink_cli/main.py
  src/streamlink_cli/utils/versioncheck.py
  tests/cli/test_versioncheck.py
Labels: CLI

#4795 cli: refactor setup of session options
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/cli/test_argparser.py
  tests/cli/test_main.py
Labels: CLI, API: session

#4797 cli: remove custom `ignored` contextmanager
  src/streamlink_cli/main.py
  src/streamlink_cli/output.py
  src/streamlink_cli/utils/__init__.py
Labels: cleanup, CLI

#4803 plugin.api.http_session: remove parse_* methods
  src/streamlink/plugin/api/http_session.py
  src/streamlink/session.py
  tests/test_session.py
Labels: API: http-session

#4805 plugins.twitch: remove disable-hosting
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
Labels: plugin issue

#4806 build: add Python 3.11 to package classifiers
  setup.cfg
Labels: packages

#4810 ci: install custom lxml wheel on cp311 win-amd64
  script/install-dependencies.sh
Labels: dependencies, continuous integration

#4812 plugins.trovo: fix VODs
  src/streamlink/plugins/trovo.py
Labels: plugin issue

#4802 plugin: add session typing information
  dev-requirements.txt
  setup.cfg
  src/streamlink/plugin/api/http_session.pyi
  src/streamlink/plugin/plugin.py
Labels: API: plugin, tools

#4814 stream: add session typing information
  src/streamlink/plugins/twitch.py
  src/streamlink/plugins/ustreamtv.py
  src/streamlink/stream/dash.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/http.py
  src/streamlink/stream/segmented.py
  src/streamlink/stream/stream.py
  tests/mixins/stream_hls.py
Labels: API: stream

#4813 plugins.cinergroup: rewrite, add bloomberght
  src/streamlink/plugins/cinergroup.py
  tests/plugins/test_cinergroup.py
Labels: plugin enhancement

#4817 plugins.cinergroup: fix showtvcomtr
  src/streamlink/plugins/cinergroup.py
Labels: plugin issue

#4819 plugins.turkuvaz: rewrite, update supported sites
  src/streamlink/plugins/turkuvaz.py
  tests/plugins/test_turkuvaz.py
Labels: plugin enhancement

#4824 plugins.tv3cat: rewrite
  src/streamlink/plugins/tv3cat.py
  tests/plugins/test_tv3cat.py
Labels: cleanup

#4823 plugins.linelive: rewrite
  src/streamlink/plugins/linelive.py
  tests/plugins/test_linelive.py
Labels: cleanup

#4821 plugins.dailymotion: rewrite and fix plugin
  src/streamlink/plugins/dailymotion.py
  tests/plugins/test_dailymotion.py
Labels: cleanup

#4822 plugins.piczel: rewrite
  src/streamlink/plugins/piczel.py
  tests/plugins/test_piczel.py
Labels: cleanup

#4826 stream.ffmpegmux: remove avconv
  src/streamlink/stream/ffmpegmux.py
  tests/stream/test_ffmpegmux.py
Labels: stream: ffmpegmux, breaking change

#4828 release: 5.0.0
  CHANGELOG.md
Labels: release

#4830 cli.utils.progress: fix relative Windows paths
  src/streamlink_cli/utils/progress.py
  tests/cli/utils/test_progress.py
Labels: bug, os: Windows, CLI

#4835 docs: bump furo theme version to 2022.09.15
  docs-requirements.txt
Labels: documentation, dependencies

#4836 plugins.hiplayer: remove cnbcarabia.com
  src/streamlink/plugins/hiplayer.py
  tests/plugins/test_hiplayer.py
Labels: plugin issue

#4840 plugins.rtve: fix ZTNR.translate
  src/streamlink/plugins/rtve.py
  tests/plugins/test_rtve.py
Labels: plugin issue

#4841 release: 5.0.1
  CHANGELOG.md
Labels: release

#4846 plugin.api.http_session: update and fix typing
  src/streamlink/plugin/api/http_session.pyi
Labels: API: http-session, typing

#4845 ci.github: bump actions to latest version
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/useragents.yml
Labels: continuous integration

#4850 plugins.vinhlongtv: rewrite and fix plugin
  src/streamlink/plugins/vinhlongtv.py
  tests/plugins/test_vinhlongtv.py
Labels: plugin issue

#4851 plugins.raiplay: update and fix plugin
  src/streamlink/plugins/raiplay.py
Labels: plugin issue

#4852 plugin: remove broken decorator
  src/streamlink/plugin/plugin.py
Labels: API: plugin

#4853 plugin: fix get_argument()
  src/streamlink/plugin/plugin.py
Labels: API: plugin

#4858 plugins.hiplayer: fix plugin
  src/streamlink/plugins/hiplayer.py
Labels: plugin issue
