Repository streamlink/streamlink, pull requests merged in 2022-05, with the labels that each got.

#4488 release: 4.0.0
  CHANGELOG.md
Labels: release

#4503 ci: fix github deploy config
  .github/workflows/main.yml
Labels: bug, continuous integration

#4505 release: 4.0.1
  CHANGELOG.md
Labels: release

#4509 docs: update dependencies section in install docs
  docs/_static/styles/custom.css
  docs/install.rst
Labels: documentation

#4508 docs: use cross-reference instead of direct link
  docs/cli/tutorial.rst
Labels: documentation

#4512 plugins.rotana: plugin removal
  src/streamlink/plugins/rotana.py
  tests/plugins/test_rotana.py
Labels: plugin removal

#4507 plugins.hiplayer: new plugin
  src/streamlink/plugins/hiplayer.py
  tests/plugins/test_hiplayer.py
Labels: new plugin

#4515 plugins.youtube: fix consent dialog
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#4517 stream.segmented: join worker+writer on close
  src/streamlink/stream/segmented.py
Labels: bug, stream: HLS

#4510 plugins.crunchyroll: update/fix
  src/streamlink/plugins/crunchyroll.py
  tests/plugins/test_crunchyroll.py
Labels: plugin issue

#4519 tests: mock user euid to be able to run tests as root
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: tests, CLI

#4525 http_session: don't disable InsecureRequestWarning
  src/streamlink/plugin/api/http_session.py
Labels: API: http-session

#4523 session: fix deprecated imports
  src/streamlink/session.py
  tests/test_session.py
Labels: cleanup, API: session

#4526 stream.hls: simplify discard logic in writer
  src/streamlink/stream/hls.py
Labels: stream: HLS

#4527 docs: rewrite API guide
  docs/api_guide.rst
Labels: documentation, API: session, API: stream

#4531 plugins.mildom: fix/update
  src/streamlink/plugins/mildom.py
Labels: plugin issue

#4534 Clean up gravyboat donation links
  docs/donate.rst
Labels: documentation

#4533 stream.hls: refactor segment decryption
  src/streamlink/stream/hls.py
  tests/mixins/stream_hls.py
  tests/stream/test_hls.py
Labels: stream: HLS

#4540 stream.hls_playlist: refactor M3U8Parser
  src/streamlink/stream/hls_playlist.py
  tests/stream/test_hls_playlist.py
Labels: stream: HLS

#4543 docs: temporarily disable intersphinx
  docs/conf.py
Labels: documentation, dependencies

#4536 plugins.useetv: new plugin
  src/streamlink/plugins/useetv.py
  tests/plugins/test_useetv.py
Labels: new plugin

#4546 docs: enable intersphinx again
  docs/conf.py
Labels: documentation, dependencies

#4548 plugins.blazetv: new plugin
  src/streamlink/plugins/blazetv.py
  tests/plugins/test_blazetv.py
Labels: new plugin, restriction: geo blocked

#4550 plugins.useetv: geo+subscription error messages
  src/streamlink/plugins/useetv.py
Labels: plugin enhancement

#4552 stream.hls: parse M3U8 from Response obj directly
  src/streamlink/plugins/raiplay.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/hls_playlist.py
Labels: stream: HLS

#4553 plugins.nicolive: fix email logins
  src/streamlink/plugins/nicolive.py
Labels: plugin issue

#4556 plugin.api: update useragents
  src/streamlink/plugin/api/useragents.py
Labels: enhancement

#4555 release: 4.1.0
  CHANGELOG.md
Labels: release
