Repository streamlink/streamlink, pull requests merged in 2022-01, with the labels that each got.

#4286 plugins.foxtr: fix regex
  src/streamlink/plugins/foxtr.py
Labels: plugin issue

#4273 plugins.delfi: rewrite plugin
  src/streamlink/plugins/delfi.py
  tests/plugins/test_delfi.py
Labels: plugin issue, cleanup

#4292 plugins.twitch: fix pluginmatcher regex
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#4294 docs: fix linux package infos
  docs/install.rst
Labels: documentation

#4301 stream.hls: fix byterange parser
  src/streamlink/stream/hls_playlist.py
Labels: bug, stream: HLS

#4302 stream.hls: refactor segment byterange calculation
  src/streamlink/stream/hls.py
  tests/stream/test_hls.py
Labels: stream: HLS

#4304 release: 3.1.0
  CHANGELOG.md
Labels: release

#4305 plugins.twitcasting: Fix error messages
  src/streamlink/plugins/twitcasting.py
Labels: plugin issue

#4306 cli: tell users the stream could be saved or piped
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: CLI

#4308 installer: set pynsist to 2.7 and distlib to 0.3.3
  .github/workflows/main.yml
Labels: Windows installer, continuous integration
