Repository streamlink/streamlink, pull requests merged in 2022-12, with the labels that each got.

#5007 plugins.twitch: fix ad filtering bug
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
Labels: plugin issue

#5008 release: 5.1.2
  CHANGELOG.md
Labels: release

#5011 plugins.twitch: better access token error handling
  src/streamlink/options.py
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
Labels: plugin enhancement

#5014 docs: fix requests docs link
  docs/cli/proxy.rst
Labels: documentation

#5017 tests: refactor thread handshakes
  tests/mixins/stream_hls.py
  tests/stream/test_hls_filtered.py
  tests/testutils/__init__.py
  tests/testutils/handshake.py
  tests/testutils/test_handshake.py
Labels: tests

#5021 plugins.turkuvaz: fix url match
  src/streamlink/plugins/turkuvaz.py
  tests/plugins/test_turkuvaz.py
Labels: plugin issue

#5023 plugins.vtvgo: update headers
  src/streamlink/plugins/vtvgo.py
Labels: plugin issue

#5027 tests: change order of collected tests
  tests/conftest.py
  tests/plugins/conftest.py
Labels: tests

#5026 tests: fix freezegun's default module ignore list
  tests/__init__.py
Labels: tests

#5028 ci: remove custom lxml wheel for Windows
  script/install-dependencies.sh
Labels: dependencies, continuous integration

#5036 tests: refactor and add more buffer tests
  src/streamlink/buffers.py
  tests/test_buffer.py
  tests/test_buffers.py
Labels: tests

#5041 plugins.cdnbg: update regex
  src/streamlink/plugins/cdnbg.py
Labels: plugin issue, restriction: geo blocked

#5046 cache: refactor Cache and rewrite tests
  src/streamlink/cache.py
  tests/test_cache.py
Labels: cleanup, tests

#5048 tests: refactor websocket tests
  src/streamlink/plugin/api/websocket.py
  tests/test_api_websocket.py
Labels: cleanup, tests, API: websocket

#5054 plugins.vkplay: new plugin
  src/streamlink/plugins/vkplay.py
  tests/plugins/test_vkplay.py
Labels: new plugin, PR: squash commits, plugin request - approved

#5053 plugins.dogan: rewrite and fix plugin
  src/streamlink/plugins/dogan.py
  tests/plugins/test_dogan.py
Labels: plugin issue
