Repository streamlink/streamlink, pull requests merged in 2022-04, with the labels that each got.

#4421 docs: fix CLI argument line breaks
  docs/_static/styles/custom.css
Labels: documentation

#4415 docs: split CLI into submenus
  docs/cli.rst
  docs/cli/config.rst
  docs/cli/metadata.rst
  docs/cli/plugin-sideloading.rst
  docs/cli/plugins.rst
  docs/cli/protocols.rst
  docs/cli/proxy.rst
  docs/cli/tutorial.rst
  src/streamlink/plugins/funimationnow.py
Labels: documentation

#4405 installer: drop Windows installer build config
  .github/workflows/main.yml
  MANIFEST.in
  docs/developing.rst
  docs/install.rst
  script/makeinstaller-assets.json
  script/makeinstaller-requirements.json
  script/makeinstaller.sh
  script/update-removed-plugins.sh
  src/streamlink/plugins/.removed
  tests/test_plugins.py
  win32/config
Labels: documentation, packages, Windows installer

#4416 plugins.cmmedia: new plugin
  src/streamlink/plugins/cmmedia.py
  tests/plugins/test_cmmedia.py
Labels: new plugin

#4430 docs: split cli/plugin, add cli/plugin/twitch
  docs/cli.rst
  docs/cli/plugins.rst
  docs/cli/plugins/crunchyroll.rst
  docs/cli/plugins/funimationnow.rst
  docs/cli/plugins/twitch.rst
  src/streamlink/plugins/funimationnow.py
  src/streamlink/plugins/twitch.py
Labels: documentation

#4432 plugins.tlctr: remove plugin
  src/streamlink/plugins/tlctr.py
  tests/plugins/test_tlctr.py
Labels: plugin removal

#4431 plugins.htv: new plugin
  src/streamlink/plugins/htv.py
  tests/plugins/test_htv.py
Labels: new plugin

#4435 docs: add intersphinx config
  docs/cli/protocols.rst
  docs/conf.py
  src/streamlink/stream/dash.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/http.py
Labels: documentation

#4439 build: drop removed plugins file from package_data
  setup.cfg
Labels: build config

#4442 chore: drop support for Python 3.6
  .codecov.yml
  .github/workflows/main.yml
  docs/install.rst
  setup.cfg
  setup.py
Labels: documentation, continuous integration, python-3, End of Life, build config

#4440 build: add pyproject.toml, switch to versioningit
  .coveragerc
  MANIFEST.in
  dev-requirements.txt
  pyproject.toml
  setup.cfg
  setup.py
  src/streamlink/__init__.py
  src/streamlink/_version.py
  versioneer.py
Labels: build config

#4443 plugins.svtplay: oppetarkiv.se is not functional anymore
  src/streamlink/plugins/svtplay.py
  tests/plugins/test_svtplay.py
Labels: plugin issue

#4444 build: move imports in setup.py
  setup.py
Labels: build config

#4445 plugins.linelive: fix API URL
  src/streamlink/plugins/linelive.py
Labels: plugin issue

#4456 plugins.cdnbg: rewrite plugin
  src/streamlink/plugins/cdnbg.py
Labels: plugin enhancement, cleanup

#4457 plugins.funimationnow: replace itertags
  src/streamlink/plugins/funimationnow.py
Labels: cleanup

#4459 plugins.vrtbe: remove plugin
  src/streamlink/plugins/vrtbe.py
  tests/plugins/test_vrtbe.py
Labels: plugin removal, drm

#4458 plugins.senategov: remove plugin
  src/streamlink/plugins/senategov.py
  tests/plugins/test_senategov.py
Labels: plugin removal

#4460 plugins.garena: remove plugin
  src/streamlink/plugins/garena.py
  tests/plugins/test_garena.py
Labels: plugin removal

#4462 cli: add support for --record=-
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: CLI

#4464 chore: remove unnecessary collection.OrderedDict
  src/streamlink/options.py
  src/streamlink/plugin/plugin.py
  src/streamlink/session.py
  src/streamlink/stream/hls.py
  src/streamlink/utils/cache.py
  src/streamlink/utils/url.py
  src/streamlink_cli/main.py
  tests/mixins/stream_hls.py
  tests/utils/test_cache.py
  tests/utils/test_url.py
Labels: cleanup, tests

#4466 ci: fix netlify PR preview builds
  docs-requirements.txt
  netlify.toml
Labels: documentation, continuous integration

#4465 plugins.facebook: replace itertags
  src/streamlink/plugins/facebook.py
Labels: cleanup

#4467 plugin.api: remove utils module
  docs/deprecations.rst
  src/streamlink/plugin/api/utils.py
  tests/test_plugin_utils.py
Labels: cleanup, API: plugin

#4474 docs: update debian backports info
  docs/install.rst
Labels: documentation

#4473 plugins.showroom: fix plugin
  src/streamlink/plugins/showroom.py
Labels: plugin issue, restriction: geo blocked

#4478 cli.argparser: update help with dir/subdir creation info
  src/streamlink_cli/argparser.py
Labels: documentation, CLI

#4471 plugins.trovo: new plugin
  src/streamlink/plugins/trovo.py
  tests/plugins/test_trovo.py
Labels: new plugin

#4486 docs: fix incorrect min setuptools version
  docs/install.rst
Labels: documentation

#4487 tests.plugins: make description metadata mandatory
  tests/test_plugins.py
Labels: tests

#4491 plugins.nicolive: fix timeshift-offset option
  src/streamlink/plugins/nicolive.py
Labels: plugin issue
