Repository streamlink/streamlink, pull requests merged in 2022-02, with the labels that each got.

#4326 plugins.pluzz: fix workflow value in API schema
  src/streamlink/plugins/pluzz.py
Labels: plugin issue

#4336 cli: log resolved file output path
  src/streamlink_cli/main.py
  tests/test_cli_main.py
Labels: CLI

#4344 plugins.rtpa: add new plugin
  docs/plugin_matrix.rst
  src/streamlink/plugins/rtpa.py
  tests/plugins/test_rtpa.py
Labels: new plugin

#4335 plugins.filmon: fix/update
  docs/plugin_matrix.rst
  src/streamlink/plugins/filmon.py
  tests/plugins/test_filmon.py
Labels: plugin issue

#4347 installer: update wheels to latest versions
  script/makeinstaller-requirements.json
Labels: dependencies, Windows installer

#4338 plugins.pandalive: fix plugin
  src/streamlink/plugins/pandalive.py
Labels: plugin issue

#4351 docs: correct minor typo
  docs/cli.rst
Labels: documentation

#4349 plugins.openrectv: get URLs from subs_trial_media
  src/streamlink/plugins/openrectv.py
Labels: plugin issue

#4355 plugins.ard_live: fix live.daserste.de inputs
  src/streamlink/plugins/ard_live.py
Labels: plugin issue

#4368 plugins.goltelevision: fix API URL
  src/streamlink/plugins/goltelevision.py
Labels: plugin issue, restriction: geo blocked
