Repository streamlink/streamlink, pull requests merged in 2023-10, with the labels that each got.

#5579 release: 6.2.1
  CHANGELOG.md
Labels: release

#5588 chore: fix typo
  src/streamlink/plugin/plugin.py
Labels: cleanup, API: plugin

#5591 plugins.twitch: fix HLS multivariant errors
  src/streamlink/plugins/twitch.py
  tests/plugins/test_twitch.py
Labels: plugin issue

#5586 plugins.goodgame: rewrite using API
  src/streamlink/plugins/goodgame.py
  tests/plugins/test_goodgame.py
Labels: plugin issue

#5596 plugin.api.validate: remove unneeded Match check
  src/streamlink/plugin/api/validate/_validate.py
Labels: enhancement, API: validate

#5598 docs: upd Debian stable from bullseye to bookworm
  docs/install.rst
Labels: documentation

#5599 plugins.vlive: remove plugin
  src/streamlink/plugins/vlive.py
  tests/plugins/test_vlive.py
Labels: plugin removal

#5605 script: don't upload PGP signatures to PyPI
  script/deploy-pypi.sh
Labels: continuous integration

#5604 plugins.ntv: remove plugin
  src/streamlink/plugins/ntv.py
  tests/plugins/test_ntv.py
Labels: plugin removal

#5610 stream.dash: respect the manifest's minBufferTime
  src/streamlink/stream/dash/manifest.py
  tests/resources/dash/test_suggested_presentation_delay.mpd
  tests/stream/dash/test_manifest.py
Labels: stream: DASH

#5613 ci.github: update py312 runners
  .codecov.yml
  .github/workflows/main.yml
Labels: continuous integration

#5616 plugins: ignore case in protocol-plugin input URLs
  src/streamlink/plugins/dash.py
  src/streamlink/plugins/hls.py
  tests/plugins/test_dash.py
  tests/plugins/test_hls.py
Labels: plugin issue

#5617 plugins: fix URL matchers of HLS and DASH
  src/streamlink/plugins/dash.py
  src/streamlink/plugins/hls.py
  tests/plugins/test_dash.py
  tests/plugins/test_hls.py
Labels: plugin issue

#5622 plugins.dlive: fix live streams
  src/streamlink/plugins/dlive.py
Labels: plugin issue

#5623 plugins.dlive: rewrite and fix VODs
  src/streamlink/plugins/dlive.py
  tests/plugins/test_dlive.py
Labels: plugin issue

#5624 plugins.mitele: update to gbx v3
  src/streamlink/plugins/mitele.py
Labels: plugin issue, restriction: geo blocked

#5625 build: include build-shell-completions.sh in sdist
  MANIFEST.in
Labels: build config

#5632 build: remove versioningit build-req from sdist
  build_backend/onbuild.py
  build_backend/test_onbuild.py
  docs/install.rst
  pyproject.toml
  setup.py
  src/streamlink/_version.py
Labels: dependencies, build config

#5633 docs: update install page
  docs/install.rst
Labels: documentation

#5634 release: 6.3.0
  CHANGELOG.md
Labels: release

#5636 build: fix onbuild test in sdist
  build_backend/test_onbuild.py
Labels: bug, tests, build config

#5637 plugins.welt: rewrite and fix plugin
  src/streamlink/plugins/welt.py
  tests/plugins/test_welt.py
Labels: plugin issue

#5638 release: 6.3.1
  CHANGELOG.md
Labels: release

#5640 stream.file: fix read mode
  src/streamlink/stream/file.py
  tests/stream/test_file.py
Labels: bug, stream: file

#5642 tools: bump ruff to 0.1.3 and fix issues
  dev-requirements.txt
  script/github-release.py
  src/streamlink/plugins/hiplayer.py
  src/streamlink/plugins/huya.py
  src/streamlink/plugins/webtv.py
  src/streamlink/stream/hls/hls.py
  src/streamlink/stream/hls/m3u8.py
  src/streamlink_cli/main.py
  tests/plugins/__init__.py
  tests/stream/test_ffmpegmux.py
  tests/utils/test_random.py
Labels: cleanup, tools

#5646 script: fix plugin test script
  script/test-plugin-urls.py
Labels: tests

#5645 plugins.tvp: fix tvp.info
  src/streamlink/plugins/tvp.py
  tests/plugins/test_tvp.py
Labels: plugin issue
