Repository streamlink/streamlink, pull requests merged in 2023-06, with the labels that each got.

#5372 plugins.twitch: get access token error message
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#5376 plugins.mediavitrina: update re_url_json
  src/streamlink/plugins/mediavitrina.py
  tests/plugins/test_mediavitrina.py
Labels: plugin issue, restriction: geo blocked

#5374 plugins.turkuvaz: fix/partial rewrite
  src/streamlink/plugins/turkuvaz.py
  tests/plugins/test_turkuvaz.py
Labels: plugin issue

#5378 tools: bump ruff to 0.0.272 and fix issues
  dev-requirements.txt
  pyproject.toml
  tests/plugins/test_turkuvaz.py
Labels: cleanup, tools

#5390 plugins.showroom: fix room-id schema
  src/streamlink/plugins/showroom.py
Labels: plugin issue, restriction: geo blocked

#5393 tests: ignore DeprecationWarning in pycountry
  pyproject.toml
Labels: dependencies, tests

#5394 ci: update custom lxml cp312 wheel
  script/install-dependencies.sh
Labels: dependencies, continuous integration

#5395 cli.argparser: allow disabling session options
  src/streamlink_cli/argparser.py
  tests/cli/test_argparser.py
Labels: bug, CLI, API: session

#5396 revert: cli.argparser: allow disabling session options
  src/streamlink_cli/argparser.py
  tests/cli/test_argparser.py
Labels: bug, CLI, API: session

#5397 cli.argparser: allow disabling session options
  src/streamlink_cli/argparser.py
  tests/cli/test_argparser.py
Labels: bug, CLI, API: session

#5405 docs: inactive/former team members
  docs/donate.rst
Labels: documentation
