Repository streamlink/streamlink, pull requests merged in 2023-08, with the labels that each got.

#5472 tools: bump ruff to 0.0.282 and fix issues
  dev-requirements.txt
  script/github-release.py
  script/test-plugin-urls.py
  src/streamlink/plugin/api/http_session.py
  src/streamlink/plugin/api/validate/__init__.py
  src/streamlink/stream/dash_manifest.py
  tests/conftest.py
  tests/test_api_validate.py
Labels: cleanup, tools

#5474 release: 6.0.1
  CHANGELOG.md
Labels: release

#5484 cli.argparser: fix config file args parser
  src/streamlink_cli/argparser.py
  tests/cli/test_argparser.py
Labels: bug, CLI

#5480 utils.processoutput: reorder asyncio tasks
  src/streamlink/utils/processoutput.py
  tests/utils/test_processoutput.py
Labels: bug, stream: ffmpegmux

#5477 plugins.atresplayer: fix player API URL
  src/streamlink/plugins/atresplayer.py
  tests/plugins/test_atresplayer.py
Labels: plugin issue, restriction: geo blocked

#5490 docs: add more links to index page
  docs/index.rst
Labels: documentation

#5492 docs: add icons to packages and install methods
  docs/_static/styles/custom.css
  docs/install.rst
Labels: documentation

#5495 utils.times: rewrite hours_minutes_seconds()
  src/streamlink/plugins/nicolive.py
  src/streamlink/plugins/twitch.py
  src/streamlink/utils/times.py
  src/streamlink_cli/argparser.py
  tests/plugins/test_nicolive.py
  tests/utils/test_times.py
Labels: enhancement

#5499 release: 6.1.0
  CHANGELOG.md
Labels: release

#5506 cli: log OpenSSL version in debug log
  src/streamlink_cli/main.py
  tests/cli/test_main.py
Labels: CLI

#5507 stream.segmented: fix and add more typing
  src/streamlink/plugins/ustreamtv.py
  src/streamlink/stream/dash.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/segmented.py
Labels: typing, stream: segmented

#5509 docs: update Solus package URL
  docs/install.rst
Labels: documentation

#5508 plugins.piaulizaportal: new plugin
  src/streamlink/plugins/piaulizaportal.py
  tests/plugins/test_piaulizaportal.py
Labels: new plugin

#5513 stream.hls: refactor tag parser mapping
  src/streamlink/plugins/twitch.py
  src/streamlink/stream/hls_playlist.py
  tests/stream/test_hls_playlist.py
Labels: stream: HLS

#5519 docs: rewrite metadata page
  docs/cli/metadata.rst
Labels: documentation

#5521 stream.hls: refactor M3U8Parser state attributes
  src/streamlink/plugins/twitch.py
  src/streamlink/stream/hls_playlist.py
Labels: stream: HLS
