Repository streamlink/streamlink, pull requests merged in 2023-09, with the labels that each got.

#5527 tools: bump ruff to 0.0.287 and fix issues
  dev-requirements.txt
  script/github-release.py
  script/update-user-agents.py
  src/streamlink/plugin/api/validate/_exception.py
  src/streamlink/plugin/api/validate/_validate.py
  src/streamlink/plugin/api/websocket.py
  src/streamlink/plugin/plugin.py
  src/streamlink/plugins/dogan.py
  src/streamlink/plugins/vkplay.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/hls_playlist.py
  src/streamlink_cli/console.py
  tests/mixins/stream_hls.py
  tests/plugins/__init__.py
  tests/stream/test_dash_parser.py
  tests/stream/test_hls.py
Labels: cleanup

#5532 logger: fix missing FileHandler encoding
  src/streamlink/logger.py
  tests/test_logger.py
Labels: bug, os: Windows, logging

#5529 plugins.nicolive: add metadata
  src/streamlink/plugins/nicolive.py
Labels: plugin issue

#5534 plugins.hiplayer: fix base64 data, drop rotana.net
  src/streamlink/plugins/hiplayer.py
  tests/plugins/test_hiplayer.py
Labels: plugin issue

#5538 stream.hls: fix endlist on empty playlist reload
  src/streamlink/stream/hls.py
  tests/stream/test_hls.py
Labels: bug, stream: HLS

#5539 ci.github: bump versions
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/useragents.yml
Labels: continuous integration

#5540 plugins.ustreamtv: refactor using dataclasses
  src/streamlink/plugins/ustreamtv.py
Labels: cleanup

#5542 docs: bump furo theme version to 2023.09.10
  docs-requirements.txt
Labels: documentation, dependencies

#5550 build: fix build-and-sign script
  script/build-and-sign.sh
Labels: build config

#5557 plugins.goodgame: rewrite and fix plugin
  src/streamlink/plugins/goodgame.py
  tests/plugins/test_goodgame.py
Labels: plugin issue

#5558 build: override setuptools build backend
  .codecov.yml
  MANIFEST.in
  build_backend/__init__.py
  build_backend/test_build_backend.py
  dev-requirements.txt
  pyproject.toml
  script/build-and-sign.sh
  tests/conftest.py
Labels: build config

#5561 docs: update Solus package URL again
  docs/install.rst
Labels: documentation

#5563 docs: update Linux and BSD packages
  docs/install.rst
Labels: documentation

#5564 docs: add Alpine Linux to install docs
  docs/install.rst
Labels: documentation

#5565 plugins.nos: rewrite and fix plugin
  src/streamlink/plugins/nos.py
  tests/plugins/test_nos.py
Labels: plugin issue

#5566 tools: bump ruff to 0.0.291 and fix issues
  dev-requirements.txt
  pyproject.toml
  src/streamlink/stream/dash.py
  src/streamlink/stream/file.py
  src/streamlink/stream/hls.py
  src/streamlink/stream/http.py
  src/streamlink/stream/stream.py
  src/streamlink/utils/l10n.py
  tests/plugins/conftest.py
  tests/utils/test_l10n.py
Labels: cleanup, tools

#5567 ci.github: add py312-dev test runner on Windows
  .github/workflows/main.yml
  script/install-dependencies.sh
Labels: dependencies, os: Windows, continuous integration, python-3

#5569 plugins.pandalive: fix live/play API call
  src/streamlink/plugins/pandalive.py
  tests/plugins/test_pandalive.py
Labels: plugin issue

#5576 build: add Python 3.12 to package classifiers
  pyproject.toml
  script/install-dependencies.sh
Labels: packages

#5559 plugins.wwenetwork: new api layout
  src/streamlink/plugins/wwenetwork.py
  tests/plugins/test_wwenetwork.py
Labels: plugin issue, restriction: account needed, PR: squash commits
