Repository streamlink/streamlink, pull requests merged in 2023-01, with the labels that each got.

#5061 ci.github: ubuntu-20.04 -> ubuntu-latest
  .github/workflows/main.yml
Labels: continuous integration

#5077 build: update build script
  .github/workflows/main.yml
  script/build-and-sign.sh
Labels: continuous integration, build config

#5081 build: update auth in sign+deploy scripts
  .github/workflows/main.yml
  script/build-and-sign.sh
  script/deploy-pypi.sh
Labels: continuous integration, build config

#5064 plugins.euronews: fix and rewrite plugin
  src/streamlink/plugins/euronews.py
  tests/plugins/test_euronews.py
Labels: plugin issue

#5089 tests: fix cmdline tests
  tests/cli/test_cmdline.py
Labels: bug, tests

#5090 plugin.api.validate: deprecate text alias
  docs/deprecations.rst
  src/streamlink/plugin/api/validate/__init__.py
  src/streamlink/plugins/abematv.py
  src/streamlink/plugins/adultswim.py
  src/streamlink/plugins/bbciplayer.py
  src/streamlink/plugins/crunchyroll.py
  src/streamlink/plugins/funimationnow.py
  src/streamlink/plugins/kugou.py
  src/streamlink/plugins/n13tv.py
  src/streamlink/plugins/openrectv.py
  src/streamlink/plugins/pixiv.py
  src/streamlink/plugins/rtbf.py
  src/streamlink/plugins/schoolism.py
  src/streamlink/plugins/tv4play.py
  src/streamlink/plugins/vimeo.py
  src/streamlink/plugins/wasd.py
  src/streamlink/plugins/webtv.py
  src/streamlink/plugins/zhanqi.py
  tests/test_api_validate.py
Labels: API: validate

#5096 plugins.mixcloud: new plugin
  src/streamlink/plugins/mixcloud.py
  tests/plugins/test_mixcloud.py
Labels: new plugin

#5099 chore: remove unneeded noinspection directives
  src/streamlink/plugin/api/http_session.py
  src/streamlink/session.py
  tests/test_session.py
Labels: cleanup

#5063 plugins.ceskatelevize: update for ct24, sport and sportplus; add decko
  src/streamlink/plugins/ceskatelevize.py
  tests/plugins/test_ceskatelevize.py
Labels: plugin issue, restriction: geo blocked

#5103 plugin: add support for named plugin matchers
  docs/developing.rst
  src/streamlink/plugin/plugin.py
  tests/test_plugin.py
Labels: API: plugin

#5104 plugins.orf_tvthek: remove
  src/streamlink/plugins/orf_tvthek.py
  tests/plugins/test_orf_tvthek.py
Labels: plugin removal, drm

#5097 plugins.tvp: add tvp.info
  src/streamlink/plugins/tvp.py
  tests/plugins/test_tvp.py
Labels: plugin enhancement, restriction: geo blocked

#5110 plugins.earthcam: fix cam_name
  src/streamlink/plugins/earthcam.py
Labels: plugin issue

#5107 tests.plugins: rewrite PluginCanHandleUrl tests
  docs/developing.rst
  tests/plugins/__init__.py
  tests/plugins/conftest.py
  tests/plugins/test_goltelevision.py
  tests/plugins/test_lnk.py
  tests/plugins/test_tvp.py
  tests/plugins/test_tvtoya.py
Labels: tests, API: plugin

#5113 stream.hls: warn when writing after discontinuity
  src/streamlink/buffers.py
  src/streamlink/stream/hls.py
  tests/stream/test_hls_filtered.py
  tests/test_buffers.py
Labels: stream: HLS

#5111 release: 5.2.0
  CHANGELOG.md
Labels: release

#5116 ci: revert deploy-pypi changes
  .github/workflows/main.yml
  script/deploy-pypi.sh
Labels: continuous integration

#5117 release: 5.2.1
  CHANGELOG.md
Labels: release

#5119 build: include icon.svg in sdist
  MANIFEST.in
Labels: build config

#5120 tools: check typing in docs dir separately
  .github/workflows/lint.yml
  docs/developing.rst
  pyproject.toml
Labels: continuous integration, tools, typing

#5127 plugins.schoolism: deleted
  src/streamlink/plugins/schoolism.py
  tests/plugins/test_schoolism.py
Labels: plugin removal

#5128 plugins.funimationnow: deleted
  docs/cli/plugins.rst
  docs/cli/plugins/funimationnow.rst
  src/streamlink/plugins/funimationnow.py
  tests/plugins/test_funimationnow.py
Labels: plugin removal
