Repository streamlink/streamlink, pull requests merged in 2023-05, with the labels that each got.

#5320 ci.github: bump deps of useragents workflow
  .github/workflows/useragents.yml
Labels: continuous integration

#5325 build: update version range of urllib3
  setup.cfg
Labels: dependencies

#5326 session: add support for urllib3 2.0
  setup.cfg
  src/streamlink/plugin/api/http_session.py
  src/streamlink/plugin/api/http_session.pyi
  src/streamlink/session.py
  tests/test_session.py
Labels: dependencies

#5327 release: 5.5.0
  CHANGELOG.md
Labels: release

#5321 stream.hls: reload playlist in strict intervals
  src/streamlink/stream/hls.py
  tests/mixins/stream_hls.py
  tests/stream/test_hls.py
Labels: stream: HLS

#5331 plugins.vimeo: Fix unable to find configuration URL on some pages
  src/streamlink/plugins/vimeo.py
  tests/plugins/test_vimeo.py
Labels: plugin issue, PR: squash commits

#5333 http_session: fix create_urllib3_context import
  src/streamlink/plugin/api/http_session.py
Labels: bug

#5334 release: 5.5.1
  CHANGELOG.md
Labels: release

#5335 plugins.vimeo: refactor plugin
  src/streamlink/plugins/vimeo.py
  tests/plugins/test_vimeo.py
Labels: plugin enhancement

#5340 stream.dash: optional video/audio-only streams
  src/streamlink/stream/dash.py
  tests/stream/test_dash.py
Labels: stream: DASH

#5343 tests: fix CLI versioncheck tests
  tests/cli/utils/test_versioncheck.py
Labels: bug, tests

#5344 tests: fix DASH stream open tests
  tests/stream/test_dash.py
Labels: bug, tests

#5345 tests: fix call_count assertion in ffmpegmux tests
  tests/stream/test_ffmpegmux.py
Labels: bug, tests

#5346 tests: add shared requests_mock fixture
  tests/cli/utils/test_versioncheck.py
  tests/conftest.py
  tests/plugins/test_twitch.py
  tests/plugins/test_vk.py
  tests/stream/test_dash.py
Labels: tests

#5348 ci: add Python 3.12-dev test runner
  .github/workflows/main.yml
  script/install-dependencies.sh
Labels: continuous integration, python-3

#5351 plugins.youtube: check playabilityStatus.reason
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#5352 tools: bump ruff to 0.0.269
  dev-requirements.txt
  src/streamlink/plugins/dogan.py
  src/streamlink/plugins/mildom.py
Labels: cleanup, tools

#5353 tests: refactor Streamlink API tests
  tests/test_streamlink_api.py
Labels: cleanup, tests

#5356 tests: refactor named_pipe tests
  src/streamlink/utils/named_pipe.py
  tests/utils/test_named_pipe.py
Labels: tests

#5358 tests.plugins: refactor some Twitch tests
  tests/plugins/test_twitch.py
Labels: tests

#5362 tests: require test cases for protocol plugins
  tests/test_plugins.py
Labels: tests

#5363 docs: improve header text of the plugins page
  docs/plugins.rst
Labels: documentation

#5367 plugins: more strict protocol plugin matchers
  src/streamlink/plugins/dash.py
  src/streamlink/plugins/hls.py
  src/streamlink/plugins/http.py
  tests/plugins/test_dash.py
  tests/plugins/test_hls.py
  tests/plugins/test_http.py
Labels: plugin issue

#5368 http_session: refactor HTTPSession.json()
  src/streamlink/plugin/api/http_session.py
  tests/test_api_http_session.py
Labels: API: http-session

#5369 plugins.pluzz: fix magneto player XPath query
  src/streamlink/plugins/pluzz.py
  tests/plugins/test_pluzz.py
Labels: plugin issue
