Repository streamlink/streamlink, pull requests merged in 2023-04, with the labels that each got.

#5273 docs: remove solus from install docs
  docs/install.rst
Labels: documentation

#5274 plugins.vk: support .ru domain
  src/streamlink/plugins/vk.py
  tests/plugins/test_vk.py
Labels: plugin enhancement

#5279 plugins.nbcnews: plugin removal
  src/streamlink/plugins/nbcnews.py
  tests/plugins/test_nbcnews.py
Labels: plugin removal, drm

#5285 release: 5.4.0
  CHANGELOG.md
Labels: release

#5288 cli.output: split up module into subpackage
  src/streamlink_cli/output/__init__.py
  src/streamlink_cli/output/abc.py
  src/streamlink_cli/output/file.py
  src/streamlink_cli/output/player.py
  tests/cli/output/test_output.py
  tests/cli/output/test_playeroutput.py
  tests/cli/test_cmdline.py
  tests/cli/test_streamrunner.py
Labels: CLI

#5291 plugins.openrectv: fix 401 error
  src/streamlink/plugins/openrectv.py
Labels: plugin issue, PR: needs commit message fix

#5292 cli.output: refactor HTTPOutput
  src/streamlink_cli/main.py
  src/streamlink_cli/output/__init__.py
  src/streamlink_cli/output/http.py
  src/streamlink_cli/output/player.py
  src/streamlink_cli/streamrunner.py
  src/streamlink_cli/utils/__init__.py
  tests/cli/test_streamrunner.py
Labels: CLI

#5295 cli: add --player-external-http-interface argument
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
Labels: CLI

#5299 plugins.dogan: find direct HLS URL
  src/streamlink/plugins/dogan.py
Labels: plugin issue

#5300 script: implement plugin URL tester
  script/test-plugin-urls.py
Labels: tests

#5301 docs: bump furo to 2023.03.27
  .github/workflows/lint.yml
  docs-requirements.txt
  docs/_templates/sidebar/brand.html
  docs/conf.py
Labels: documentation, dependencies

#5304 revert: docs: remove solus from install docs
  docs/install.rst
Labels: documentation

#5312 docs: fix Linux AppImages link in install docs
  docs/install.rst
Labels: documentation

#5306 plugins.mitele: fix/add Origin header
  src/streamlink/plugins/mitele.py
Labels: plugin issue

#5314 cli: add --no-config argument
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/cli/test_main_setup_config_args.py
Labels: CLI

#5317 tests: clean up root-logger state
  tests/cli/test_main.py
  tests/test_logger.py
Labels: tests
