Repository streamlink/streamlink, pull requests merged in 2023-02, with the labels that each got.

#5140 options: deprecate global plugin arguments
  docs/deprecations.rst
  docs/ext_argparse.py
  docs/ext_plugins.py
  src/streamlink/options.py
  src/streamlink/plugins/rtve.py
  src/streamlink/plugins/svtplay.py
  src/streamlink/plugins/vimeo.py
  src/streamlink_cli/main.py
  tests/test_options.py
  tests/test_plugins.py
Labels: API: plugin

#5139 plugins.youtube: fix adaptive streams KeyError
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#5141 build: include py.typed in package_data
  setup.cfg
Labels: build config, typing

#5137 plugins.youtube: rewrite and fix matchers
  src/streamlink/plugins/youtube.py
  tests/plugins/test_youtube.py
Labels: plugin issue

#5125 stream.hls: refactor and fix attribute list parser
  src/streamlink/stream/hls_playlist.py
  tests/stream/test_hls_playlist.py
Labels: stream: HLS

#5146 plugins.youtube: restore /user/... URLs
  src/streamlink/plugins/youtube.py
  tests/plugins/test_youtube.py
Labels: plugin issue

#5147 plugins.nimotv: fix livestream stopping after couple of seconds
  src/streamlink/plugins/nimotv.py
Labels: plugin issue, PR: squash commits

#5149 tools: replace flake8 with ruff
  .github/workflows/lint.yml
  dev-requirements.txt
  docs/developing.rst
  pyproject.toml
  setup.cfg
Labels: continuous integration, tools

#5154 tools: add .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: tools

#5155 tools: remove export-subst from .gitattributes
  .gitattributes
Labels: cleanup, tools

#5143 docs: remove Open Collective
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/1_plugin_issue.yml
  .github/ISSUE_TEMPLATE/2_bug_report.yml
  .github/ISSUE_TEMPLATE/3_plugin_request.yml
  .github/ISSUE_TEMPLATE/4_feature_request.yml
  .github/release_template.md
  README.md
  docs/_static/styles/custom.css
  docs/donate.rst
  docs/ext_github.py
  setup.cfg
Labels: documentation, meta

#5157 docs: rewrite, fix and improve CLI tutorial
  docs-requirements.txt
  docs/cli/tutorial.rst
  docs/conf.py
Labels: documentation

#5161 stream.hls: fix parse_hex warning message
  src/streamlink/stream/hls_playlist.py
  tests/stream/test_hls_playlist.py
Labels: bug, stream: HLS

#5165 stream.ffmpegmux: refactor errorlog fd
  src/streamlink/compat.py
  src/streamlink/stream/ffmpegmux.py
  tests/stream/test_ffmpegmux.py
Labels: bug, stream: ffmpegmux

#5167 tests: ignore setuptools 67.3.0 DeprecationWarning
  pyproject.toml
Labels: tests, tools

#5169 tools: ignore PT refactor commits in git-blame
  .git-blame-ignore-revs
Labels: tools

#5177 session: fix minor mistakes in options docstring
  src/streamlink/session.py
Labels: documentation, API: session

#5178 docs: rewrite install page
  docs/_static/icon-ffmpeg.svg
  docs/_static/icon-python.svg
  docs/_static/styles/custom.css
  docs/conf.py
  docs/install.rst
Labels: documentation

#5180 docs: use grid-cards for team-members
  docs/_static/styles/custom.css
  docs/donate.rst
Labels: documentation

#5172 release: 5.3.0
  CHANGELOG.md
Labels: release

#5188 tools: bump ruff to >=0.0.252 and ignore PLW2901
  dev-requirements.txt
  pyproject.toml
Labels: tools

#5185 stream.dash: refactor and reformat code
  src/streamlink/stream/dash_manifest.py
Labels: cleanup, stream: DASH

#5189 stream.dash: fix missing initialization byterange
  src/streamlink/stream/dash_manifest.py
  tests/resources/dash/test_segments_byterange.mpd
  tests/stream/test_dash_parser.py
Labels: bug, stream: DASH

#5191 stream.dash: add basic typing to parser
  src/streamlink/stream/dash_manifest.py
Labels: stream: DASH, typing

#5193 session: fix http-trust-env option
  src/streamlink/session.py
  tests/test_session.py
Labels: bug, API: session

#5194 stream.dash: fix SegmentTemplate's BaseURL context
  src/streamlink/stream/dash_manifest.py
  tests/resources/dash/test_nested_baseurls.mpd
  tests/stream/test_dash_parser.py
Labels: bug, stream: DASH

#5195 tools: set xml indentation in .editorconfig
  .editorconfig
Labels: tools

#5196 stream.dash: ContentProtection in Representation
  src/streamlink/stream/dash.py
  src/streamlink/stream/dash_manifest.py
  tests/stream/test_dash.py
Labels: bug, stream: DASH

#5198 release: 5.3.1
  CHANGELOG.md
Labels: release

#5206 plugins.tv5monde: rewrite and fix plugin
  src/streamlink/plugins/tv5monde.py
  tests/plugins/test_tv5monde.py
Labels: plugin issue

#5207 tools: ignore PLW0603 ruff rule
  pyproject.toml
  src/streamlink/logger.py
  src/streamlink/utils/named_pipe.py
Labels: tools

#5208 stream.dash: add --dash-manifest-reload-attempts
  src/streamlink/session.py
  src/streamlink/stream/dash.py
  src/streamlink_cli/argparser.py
Labels: stream: DASH, API: session
