Repository streamlink/streamlink, pull requests merged in 2023-11, with the labels that each got.

#5650 plugin.api.validate: fix perf of validate_sequence
  src/streamlink/plugin/api/validate/_validate.py
Labels: API: validate

#5649 docs: move API guide pages into second layer
  docs/api_guide.rst
  docs/api_guide/quickstart.rst
Labels: documentation

#5653 plugins.telemadrid: fix xpath
  src/streamlink/plugins/telemadrid.py
Labels: plugin issue

#5655 docs: add plugin.api.validate API guide
  docs/api/validate.rst
  docs/api_guide.rst
  docs/api_guide/validate.rst
Labels: documentation, API: validate

#5654 stream.dash: fix SegmentList in dynamic manifests
  src/streamlink/stream/dash/manifest.py
  tests/resources/dash/test_dynamic_segment_list_p1.mpd
  tests/resources/dash/test_dynamic_segment_list_p2.mpd
  tests/resources/dash/test_dynamic_segment_list_p3.mpd
  tests/stream/dash/test_manifest.py
Labels: stream: DASH

#5663 stream.dash: add init keyword to segments()
  src/streamlink/stream/dash/manifest.py
  tests/stream/dash/test_manifest.py
Labels: stream: DASH

#5665 plugin.api.validate: add op keyword to length()
  src/streamlink/plugin/api/validate/_validators.py
  tests/test_api_validate.py
Labels: API: validate

#5662 plugin.raiplay: add vod support
  src/streamlink/plugins/raiplay.py
  tests/plugins/test_raiplay.py
Labels: restriction: account needed, plugin enhancement, restriction: geo blocked

#5667 tools: pinpoint latest mypy version
  dev-requirements.txt
Labels: tools

#5669 tests: fix webbrowser test coverage
  tests/webbrowser/cdp/test_connection.py
Labels: continuous integration, tests

#5668 ci.github: rewrite workflows
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  dev-requirements.txt
  script/install-dependencies.sh
Labels: continuous integration

#5664 plugins.nasaplus: new plugin
  src/streamlink/plugins/nasaplus.py
  tests/plugins/test_nasaplus.py
Labels: new plugin

#5670 ci.github: switch to pypa/gh-action-pypi-publish
  .github/workflows/release.yml
  script/deploy-pypi.sh
Labels: packages, continuous integration

#5671 docs: fix workflow badge in README.md
  README.md
Labels: documentation, continuous integration

#5673 plugins.youtube: fix video ID retrieval
  src/streamlink/plugins/youtube.py
Labels: plugin issue

#5675 script: add -r/--replace to test-plugin-urls.py
  script/test-plugin-urls.py
Labels: tools

#5678 docs: clean up players page
  docs/players.rst
Labels: documentation

#5679 docs: remove common issues page
  docs/cli/tutorial.rst
  docs/index.rst
  docs/issues.rst
Labels: documentation

#5676 release: 6.4.0
  CHANGELOG.md
Labels: release

#5682 utils.parse: fix libxml2 2.12.0 compatibility
  src/streamlink/compat.py
  src/streamlink/utils/parse.py
  tests/utils/test_parse.py
Labels: bug, dependencies, tests

#5683 release: 6.4.1
  CHANGELOG.md
Labels: release

#5686 plugins.ssh101: fix plugin
  src/streamlink/plugins/ssh101.py
Labels: plugin issue

#5688 docs: add cache API docs and add Plugin.cache ref
  docs/api.rst
  docs/api/cache.rst
  src/streamlink/cache.py
  src/streamlink/plugin/plugin.py
Labels: documentation, API: plugin

#5689 stream.hls: fix segment maps
  src/streamlink/stream/hls/hls.py
  tests/stream/hls/test_hls.py
Labels: bug, stream: HLS

#5690 plugins.piczel: fix and update HLS URL
  src/streamlink/plugins/piczel.py
Labels: plugin issue

#5693 plugins.bilibili: rewrite and fix plugin
  src/streamlink/plugins/bilibili.py
Labels: plugin issue

#5691 release: 6.4.2
  CHANGELOG.md
Labels: release
