Repository streamlink/streamlink, pull requests merged in 2023-03, with the labels that each got.

#5210 chore: aware datetimes
  pyproject.toml
  src/streamlink/logger.py
  src/streamlink/plugins/crunchyroll.py
  src/streamlink/plugins/htv.py
  src/streamlink/plugins/oneplusone.py
  src/streamlink/plugins/pluzz.py
  src/streamlink/plugins/rtbf.py
  src/streamlink/plugins/ustreamtv.py
  src/streamlink/utils/times.py
  src/streamlink_cli/main.py
  tests/cli/test_main.py
  tests/plugins/test_filmon.py
  tests/plugins/test_twitch.py
  tests/test_logger.py
  tests/utils/test_formatter.py
  tests/utils/test_times.py
Labels: cleanup

#5213 stream.dash: fix segment availability times
  src/streamlink/stream/dash_manifest.py
  tests/resources/dash/test_nested_baseurls.mpd
  tests/resources/dash/test_segment_list.mpd
  tests/resources/dash/test_segments_dynamic_number.mpd
  tests/resources/dash/test_static_no_publish_time.mpd
  tests/stream/test_dash_parser.py
Labels: bug, stream: DASH

#5214 stream.dash: log mime-type of segment downloads
  src/streamlink/stream/dash.py
Labels: stream: DASH

#5215 stream.dash: fix suggestedPresentationDelay
  src/streamlink/stream/dash_manifest.py
Labels: stream: DASH

#5217 stream.dash: fix dynamic timeline-less streams
  src/streamlink/stream/dash_manifest.py
  tests/resources/dash/test_segments_dynamic_number.mpd
  tests/stream/test_dash_parser.py
Labels: bug, stream: DASH

#5225 stream.dash: refactor Segment availability
  src/streamlink/stream/dash.py
  src/streamlink/stream/dash_manifest.py
  tests/stream/test_dash_parser.py
Labels: stream: DASH

#5227 plugins.vimeo: fix playerConfig regex
  src/streamlink/plugins/vimeo.py
Labels: plugin issue

#5230 tests: ignore all pkg_resources warnings
  pyproject.toml
Labels: tests, tools

#5228 tests: add custom markers for conditional tests
  tests/__init__.py
  tests/cli/output/test_output.py
  tests/cli/output/test_playeroutput.py
  tests/cli/test_cmdline.py
  tests/cli/test_cmdline_player_fifo.py
  tests/cli/test_cmdline_title.py
  tests/cli/test_main.py
  tests/cli/utils/test_path.py
  tests/cli/utils/test_progress.py
  tests/conftest.py
  tests/utils/test_named_pipe.py
Labels: tests

#5229 ci: fix netlify git-diff ignore list
  netlify.toml
Labels: documentation, continuous integration

#5231 plugins.steam: fix validation schema
  src/streamlink/plugins/steam.py
Labels: plugin issue

#5233 stream.dash: fix segment number iterator
  src/streamlink/stream/dash_manifest.py
  tests/stream/test_dash_parser.py
Labels: bug, stream: DASH

#5236 stream.segmented: fix wait() in writer thread-pool
  src/streamlink/stream/segmented.py
Labels: stream: segmented

#5235 stream.dash: improve segment logging
  src/streamlink/stream/dash.py
  src/streamlink/stream/dash_manifest.py
  tests/stream/test_dash_parser.py
Labels: stream: DASH

#5237 stream.segmented: properly fix wait() in writer
  src/streamlink/stream/segmented.py
Labels: stream: segmented

#5240 tests: share session fixture
  tests/cli/test_argparser.py
  tests/conftest.py
  tests/stream/test_dash.py
  tests/stream/test_ffmpegmux.py
  tests/stream/test_stream_json.py
  tests/stream/test_stream_to_url.py
  tests/test_api_websocket.py
  tests/test_plugin.py
  tests/test_plugin_userinput.py
  tests/test_session.py
Labels: tests

#5241 tests: replace unnecessary xfail marks
  tests/plugins/test_vk.py
Labels: tests

#5239 utils.args: update num() argparse utility function
  src/streamlink/utils/args.py
  src/streamlink_cli/argparser.py
  tests/utils/test_args.py
Labels: CLI

#5242 cli.output: use subprocess.DEVNULL in PlayerOutput
  src/streamlink_cli/output.py
  tests/cli/output/test_playeroutput.py
  tests/cli/test_streamrunner.py
Labels: tests, CLI

#5245 tools: pinpoint ruff to 0.0.255 and fix rules
  dev-requirements.txt
  pyproject.toml
Labels: tools

#5247 stream.dash: various SegmentList/SegmentTemplate fixes
  src/streamlink/stream/dash_manifest.py
Labels: stream: DASH

#5251 plugins.vkplay: fix `category` null
  src/streamlink/plugins/vkplay.py
Labels: plugin issue

#5252 stream.dash: fix segment duration
  src/streamlink/stream/dash_manifest.py
  tests/resources/dash/test_no_segment_list_or_template.mpd
  tests/stream/test_dash_parser.py
Labels: stream: DASH

#5262 stream.dash: sync timelines of all substreams
  src/streamlink/stream/dash.py
  src/streamlink/stream/dash_manifest.py
  tests/stream/test_dash.py
  tests/stream/test_dash_parser.py
Labels: bug, stream: DASH

#5266 plugins.indihometv: replace and fix useetv plugin
  src/streamlink/plugins/indihometv.py
  src/streamlink/plugins/useetv.py
  tests/plugins/test_indihometv.py
  tests/plugins/test_useetv.py
Labels: plugin removal, new plugin
