Repository streamlink/streamlink, pull requests merged in 2024-09, with the labels that each got.

#6151 ci.github: fix useragents workflow
  .github/workflows/useragents.yml
Labels: continuous integration

#6160 plugins.tiktok: fix schema of inaccessible streams
  src/streamlink/plugins/tiktok.py
Labels: plugin issue

#6162 plugins.booyah: remove plugin
  src/streamlink/plugins/booyah.py
  tests/plugins/test_booyah.py
Labels: plugin removal

#6163 plugins.galatasaraytv: remove plugin
  src/streamlink/plugins/galatasaraytv.py
  tests/plugins/test_galatasaraytv.py
Labels: plugin removal

#6164 plugins.idf1: remove plugin
  src/streamlink/plugins/idf1.py
  tests/plugins/test_idf1.py
Labels: plugin removal

#6165 plugins.linelive: remove plugin
  src/streamlink/plugins/linelive.py
  tests/plugins/test_linelive.py
Labels: plugin removal

#6161 stream.ffmpegmux: add loglevel
  src/streamlink/session/options.py
  src/streamlink/stream/ffmpegmux.py
  src/streamlink_cli/argparser.py
  tests/stream/test_ffmpegmux.py
Labels: stream: ffmpegmux, CLI, API: session

#6166 tools: bump ruff to 0.6.4
  dev-requirements.txt
Labels: tools

#6157 release: 6.10.0
  CHANGELOG.md
Labels: release

#6171 plugins.dlive: sign live HLS media playlist URLs
  src/streamlink/plugins/dlive.py
Labels: plugin issue

#6172 plugins.webtv: remove plugin
  src/streamlink/plugins/webtv.py
  tests/plugins/test_webtv.py
Labels: plugin removal

#6173 plugins.zhanqi: remove plugin
  src/streamlink/plugins/zhanqi.py
  tests/plugins/test_zhanqi.py
Labels: plugin removal

#6178 plugins.vk: fix API params and validation schema
  src/streamlink/plugins/vk.py
  tests/plugins/test_vk.py
Labels: plugin issue

#6179 plugins.crunchyroll: remove plugin
  docs/cli/plugins.rst
  docs/cli/plugins/crunchyroll.rst
  src/streamlink/plugins/crunchyroll.py
  tests/plugins/test_crunchyroll.py
Labels: plugin removal

#6184 tests: fix race condition in named-pipe tests
  tests/utils/test_named_pipe.py
Labels: tests

#6187 tests: fix cli.main.handle_url tests
  tests/cli/main/conftest.py
Labels: tests

#6190 cli.argparser: update _match_argument() override
  src/streamlink_cli/argparser.py
  tests/cli/test_argparser.py
Labels: CLI

#6192 tests: rewrite cli.output.file tests
  src/streamlink_cli/output/file.py
  tests/cli/output/test_file.py
Labels: tests

#6195 tools: bump ruff to 0.6.7 and mypy to 1.11.2
  build_backend/plugins_json.py
  dev-requirements.txt
  src/streamlink/session/plugins.py
  src/streamlink/utils/module.py
Labels: tools

#6198 plugins.mildom: remove plugin
  src/streamlink/plugins/mildom.py
  tests/plugins/test_mildom.py
Labels: plugin removal

#6199 plugins.facebook: remove plugin
  src/streamlink/plugins/facebook.py
  tests/plugins/test_facebook.py
Labels: plugin removal

#6201 docs: add back Alpine Linux package
  docs/install.rst
Labels: documentation

#6202 plugins.tvrby: remove plugin
  src/streamlink/plugins/tvrby.py
  tests/plugins/test_tvrby.py
Labels: plugin removal

#6203 plugins.tvrplus: remove plugin
  src/streamlink/plugins/tvrplus.py
  tests/plugins/test_tvrplus.py
Labels: plugin removal

#6205 session.http: fix custom SSLContext + verify=False
  src/streamlink/session/http.py
  tests/session/test_http.py
Labels: API: http-session

#6207 cli: fix passthrough without player
  src/streamlink_cli/main.py
  tests/cli/main/test_output_stream_passthrough.py
Labels: bug, CLI

#6211 webbrowser.cdp.devtools: update to v0.0.1359167
  src/streamlink/webbrowser/cdp/devtools/__init__.py
  src/streamlink/webbrowser/cdp/devtools/browser.py
  src/streamlink/webbrowser/cdp/devtools/debugger.py
  src/streamlink/webbrowser/cdp/devtools/dom.py
  src/streamlink/webbrowser/cdp/devtools/emulation.py
  src/streamlink/webbrowser/cdp/devtools/fetch.py
  src/streamlink/webbrowser/cdp/devtools/input_.py
  src/streamlink/webbrowser/cdp/devtools/inspector.py
  src/streamlink/webbrowser/cdp/devtools/io.py
  src/streamlink/webbrowser/cdp/devtools/network.py
  src/streamlink/webbrowser/cdp/devtools/page.py
  src/streamlink/webbrowser/cdp/devtools/runtime.py
  src/streamlink/webbrowser/cdp/devtools/security.py
  src/streamlink/webbrowser/cdp/devtools/target.py
  src/streamlink/webbrowser/cdp/devtools/util.py
Labels: API: webbrowser
