Repository streamlink/streamlink, pull requests merged in 2024-12, with the labels that each got.

#6319 plugins.vkplay: add support for live.vkvideo.ru
  src/streamlink/plugins/vkvideo.py
  tests/plugins/test_vkvideo.py
Labels: plugin issue

#6323 stream.dash: fix segment duration in timelines
  src/streamlink/stream/dash/manifest.py
  tests/stream/dash/test_manifest.py
Labels: bug, stream: DASH

#6324 stream.dash: opt publishTime/availabilityStartTime
  src/streamlink/stream/dash/manifest.py
  tests/resources/dash/test_dynamic_no_publish_time_timeline_with_start.mpd
  tests/resources/dash/test_dynamic_no_publish_time_timeline_without_start.mpd
  tests/stream/dash/test_manifest.py
Labels: bug, stream: DASH

#6321 plugins.soop: rewrite authentication
  src/streamlink/plugins/soop.py
Labels: restriction: account needed, plugin enhancement

#6328 stream.dash: refactor BaseURL.join()
  src/streamlink/stream/dash/manifest.py
  tests/resources/dash/test_baseurl_urljoin.mpd
  tests/stream/dash/test_manifest.py
Labels: bug, stream: DASH

#5782 plugins.bilibili: add back HTTPStream from v1 API
  src/streamlink/plugins/bilibili.py
  tests/plugins/test_bilibili.py
Labels: plugin issue

#6338 stream.dash: fix base_url input
  src/streamlink/stream/dash/dash.py
  tests/stream/dash/test_dash.py
  tests/stream/dash/test_manifest.py
Labels: bug, stream: DASH

#6350 tools: bump ruff to 0.8.4 and fix issues
  dev-requirements.txt
  tests/cli/output/test_player.py
  tests/plugins/test_twitch.py
  tests/webbrowser/cdp/test_client.py
  tests/webbrowser/test_chromium.py
  tests/webbrowser/test_webbrowser.py
Labels: tools

#6351 tools: bump mypy to 1.14.0 and fix issues
  dev-requirements.txt
  src/streamlink/plugin/plugin.py
  src/streamlink_cli/output/file.py
Labels: tools

#6353 plugins.mangomolo: update plugin matcher
  src/streamlink/plugins/mangomolo.py
  tests/plugins/test_mangomolo.py
Labels: plugin issue

#6358 cli: clarify --show-matchers output format
  src/streamlink_cli/argparser.py
Labels: documentation, CLI

#6357 release: 7.1.0
  CHANGELOG.md
Labels: release

#6361 cli: fix --show-matchers ignoring lazy plugins
  src/streamlink_cli/show_matchers.py
  tests/cli/main/test_show_matchers.py
Labels: bug, CLI

#6362 release: 7.1.1
  CHANGELOG.md
Labels: release

#6364 plugins.dailymotion: fix matcher regex groups
  src/streamlink/plugins/dailymotion.py
Labels: plugin issue

#6368 plugins: fix broken matcher capture groups
  src/streamlink/plugins/abematv.py
  src/streamlink/plugins/ard_mediathek.py
  src/streamlink/plugins/bbciplayer.py
  src/streamlink/plugins/picarto.py
  src/streamlink/plugins/streann.py
Labels: plugin issue

#6372 plugins.dailymotion: add lequipe.fr
  src/streamlink/plugins/dailymotion.py
  tests/plugins/test_dailymotion.py
Labels: plugin enhancement

#6373 tools: bump mypy to 1.14.1
  dev-requirements.txt
Labels: tools
