Repository streamlink/streamlink, pull requests merged in 2024-07, with the labels that each got.

#6057 plugins.vidio: fix stream token, add metadata
  src/streamlink/plugins/vidio.py
  tests/plugins/test_vidio.py
Labels: plugin issue

#6058 plugins.huya: fix 403 error
  src/streamlink/plugins/huya.py
Labels: plugin issue, PR: squash commits

#6059 plugins.douyin: new plugin
  src/streamlink/plugins/douyin.py
  tests/plugins/test_douyin.py
Labels: new plugin

#6064 release: 6.8.2
  CHANGELOG.md
Labels: release

#6067 script: simplify output of test-plugin-urls, add -m/--metadata, fix -r/--replace
  script/test-plugin-urls.py
Labels: tools

#6069 tools: bump ruff to 0.5.1 and fix issues
  dev-requirements.txt
  pyproject.toml
Labels: tools

#6071 plugins.twitch: fix uppercase channel names
  src/streamlink/plugins/twitch.py
Labels: plugin issue

#6072 plugins.twitch: add UsherService tests
  tests/plugins/test_twitch.py
Labels: tests

#6073 plugins.tiktok: new plugin
  src/streamlink/plugins/tiktok.py
  tests/plugins/test_tiktok.py
Labels: new plugin

#6076 plugins.bloomberg: fix bot detection
  src/streamlink/plugins/bloomberg.py
Labels: plugin issue

#6078 release: 6.8.3
  CHANGELOG.md
Labels: release

#6080 cli.console: keep unicode chars in JSON output
  src/streamlink_cli/console.py
  tests/cli/test_console.py
Labels: CLI

#6081 logger: backslashreplace stream encoding errors
  src/streamlink/logger.py
  tests/test_logger.py
Labels: logging

#6085 plugins.okru: fix metadata schema
  src/streamlink/plugins/okru.py
  tests/plugins/test_okru.py
Labels: plugin issue

#6087 tools: bump ruff to 0.5.3
  dev-requirements.txt
Labels: tools

#6089 tools: add explicit ruff format config
  pyproject.toml
Labels: tools

#6091 plugins.radionet: remove plugin
  src/streamlink/plugins/radionet.py
  tests/plugins/test_radionet.py
Labels: plugin removal

#6094 build: fix typing issue caused by types-setuptools
  build_backend/__init__.py
Labels: dependencies, typing

#6093 plugins.yupptv: refactor and fix plugin
  src/streamlink/plugins/yupptv.py
  tests/plugins/test_yupptv.py
Labels: plugin issue

#6096 plugins.vk: fix validation schema, clean up code
  src/streamlink/plugins/vk.py
Labels: plugin issue

#6097 plugins.tvp: sport.tvp.pl handling
  src/streamlink/plugins/tvp.py
  tests/plugins/test_tvp.py
Labels: plugin enhancement, restriction: geo blocked, PR: squash commits

#6098 tools: bump ruff to 0.5.5
  dev-requirements.txt
Labels: tools

#6100 build: add warning comments to plugins.json
  .github/workflows/test.yml
  build_backend/plugins_json.py
  build_backend/test_plugins_json.py
  src/streamlink/session/plugins.py
  tests/session/test_plugins.py
Labels: API: session, build config

#6101 webbrowser.cdp.client: add max_buffer_size param
  src/streamlink/webbrowser/cdp/client.py
  src/streamlink/webbrowser/cdp/connection.py
  tests/webbrowser/cdp/test_connection.py
Labels: API: webbrowser
