Repository streamlink/streamlink, pull requests merged in 2024-04, with the labels that each got.

#5921 cli.utils.formatter: respect max file name length
  src/streamlink_cli/utils/formatter.py
  src/streamlink_cli/utils/path.py
  tests/cli/utils/test_formatter.py
  tests/cli/utils/test_path.py
Labels: bug, CLI

#5923 plugins.mangomolo: fix missing Referer header
  src/streamlink/plugins/mangomolo.py
Labels: plugin issue

#5926 plugins.mangomolo: fix media.gov.kw matcher
  src/streamlink/plugins/mangomolo.py
  tests/plugins/test_mangomolo.py
Labels: plugin issue

#5925 cli.utils.path: fix max bytes
  src/streamlink_cli/utils/path.py
  tests/cli/utils/test_path.py
Labels: bug, CLI

#5932 plugin.api.validate: check parse_qsd() input type
  src/streamlink/plugin/api/validate/_validators.py
  tests/test_api_validate.py
Labels: bug, tests, API: validate

#5930 webbrowser: fix propagation of BaseException
  src/streamlink/plugins/twitch.py
  src/streamlink/webbrowser/webbrowser.py
  tests/webbrowser/test_webbrowser.py
Labels: bug, dependencies, API: webbrowser

#5933 tests: fix test_onbuild when executed from build directory
  build_backend/test_onbuild.py
Labels: tests

#5935 ci.codecov: add build_backend status check
  .codecov.yml
Labels: continuous integration

#5938 tools: bump ruff to 0.3.7
  dev-requirements.txt
Labels: tools

#5936 release: 6.7.3
  CHANGELOG.md
Labels: release

#5946 plugins.turkuvaz: add HLS URL mapping
  src/streamlink/plugins/turkuvaz.py
  tests/plugins/test_turkuvaz.py
Labels: plugin issue

#5949 docs: rephrase and clarify plugin rules
  CONTRIBUTING.md
Labels: documentation

#5952 plugins.afreeca: Support for password-protected streams
  src/streamlink/plugins/afreeca.py
Labels: plugin enhancement

#5953 plugins.afreeca: Enhance quality fetching
  src/streamlink/plugins/afreeca.py
Labels: plugin enhancement

#5958 cli: remove console.exit()
  src/streamlink_cli/console.py
  src/streamlink_cli/exceptions.py
  src/streamlink_cli/main.py
  tests/cli/test_console.py
  tests/cli/test_main.py
  tests/cli/test_main_check_file_output.py
  tests/cli/test_main_logging.py
Labels: cleanup, CLI

#5966 tools: bump ruff to 0.4.2 and fix issues
  dev-requirements.txt
  tests/testutils/handshake.py
  tests/webbrowser/cdp/test_client.py
  tests/webbrowser/test_chromium.py
Labels: tools

#5970 docs: bump furo theme version to 2024.04.27
  docs-requirements.txt
Labels: documentation, dependencies
