Repository streamlink/streamlink, pull requests merged in 2025-01, with the labels that each got.

#6379 tools: bump ruff to 0.8.6
  dev-requirements.txt
Labels: tools

#6381 plugins.tiktok: rewrite plugin, fix live, add VODs
  src/streamlink/plugins/tiktok.py
  tests/plugins/test_tiktok.py
Labels: plugin issue

#6384 plugins.kick: fix 403 error and VOD URL matcher
  src/streamlink/plugins/kick.py
  tests/plugins/test_kick.py
Labels: plugin issue

#6378 plugins.nicolive: fix mfa login
  src/streamlink/plugins/nicolive.py
Labels: plugin issue, restriction: account needed

#6385 plugins.dailymotion: add missing $url metadata
  src/streamlink/plugins/dailymotion.py
Labels: plugin issue

#6389 plugins.chzzk: add clips support
  src/streamlink/plugins/chzzk.py
  tests/plugins/test_chzzk.py
Labels: plugin enhancement

#6386 release: 7.1.2
  CHANGELOG.md
Labels: release

#6392 tools: bump ruff to 0.9.0 and fix issues
  dev-requirements.txt
  pyproject.toml
  src/streamlink/validate/_schemas.py
Labels: tools

#6397 plugins.ceskatelevize: rewrite and fix plugin
  src/streamlink/plugins/ceskatelevize.py
  tests/plugins/test_ceskatelevize.py
Labels: plugin issue

#6404 plugins.wwenetwork: rewrite and fix plugin
  src/streamlink/plugins/wwenetwork.py
Labels: plugin issue

#6406 tests: bump freezegun requirement to >=1.5.0
  dev-requirements.txt
Labels: dependencies, tests

#6408 docs: remove pip3 note from install docs
  docs/install.rst
Labels: documentation

#6409 stream.ffmpegmux: fix logging format of cmd argv
  src/streamlink/stream/ffmpegmux.py
Labels: stream: ffmpegmux, logging

#6399 plugins.tv4play: remove plugin
  src/streamlink/plugins/tv4play.py
  tests/plugins/test_tv4play.py
Labels: plugin removal

#6412 tools: bump ruff to 0.9.2
  dev-requirements.txt
Labels: tools

#6335 cli: improve --logformat/--logdateformat help text
  src/streamlink_cli/argparser.py
Labels: documentation, CLI

#6415 docs: add FFmpeg to Linux AppImages
  docs/install.rst
Labels: documentation, packages, os: Linux

#6416 tools: bump ruff to 0.9.4
  dev-requirements.txt
Labels: tools
