Repository streamlink/streamlink, pull requests merged in 2025-06, with the labels that each got.

#6540 plugins.twitcasting: switch to llfmp4 and tc-hls
  src/streamlink/plugins/twitcasting.py
Labels: plugin issue

#6547 plugins.blasttv: new plugin
  src/streamlink/plugins/blasttv.py
  tests/plugins/test_blasttv.py
Labels: new plugin

#6551 release: 7.4.0
  CHANGELOG.md
Labels: release

#6556 stream: set specific names for each thread
  src/streamlink/plugins/twitch.py
  src/streamlink/stream/dash/dash.py
  src/streamlink/stream/hls/hls.py
  src/streamlink/stream/segmented/segmented.py
  src/streamlink/utils/thread.py
  tests/conftest.py
  tests/stream/dash/test_dash.py
  tests/stream/hls/test_hls.py
  tests/utils/test_thread.py
Labels: stream: HLS, stream: DASH, stream: segmented

#6557 cli: add thread name to trace logging format
  src/streamlink_cli/argparser.py
  src/streamlink_cli/main.py
  tests/cli/main/test_logging.py
Labels: logging, CLI

#6558 stream.ffmpegmux: ign pipe write err on stream end
  src/streamlink/stream/ffmpegmux.py
Labels: bug, stream: ffmpegmux

#6561 ci.github: temporarily disable py314 Linux runner
  .github/workflows/test.yml
Labels: continuous integration

#6572 plugins.aloula: add aloula.sba.sa to URL matcher
  src/streamlink/plugins/aloula.py
  tests/plugins/test_aloula.py
Labels: plugin issue

#6585 plugins.goodgame: fix plugin
  src/streamlink/plugins/goodgame.py
  tests/plugins/test_goodgame.py
Labels: plugin issue

#6586 plugins.mitele: remove plugin
  src/streamlink/plugins/mitele.py
  tests/plugins/test_mitele.py
Labels: plugin removal

#6568 cache: rewrite and improve cache file I/O
  src/streamlink/cache.py
  tests/test_cache.py
Labels: refactor

#6591 tests: fix cache atomicity test
  tests/test_cache.py
Labels: bug, tests

#6593 tests: fix test_schedule_save in Cache tests
  tests/test_cache.py
Labels: tests
