Repository streamlink/streamlink, pull requests merged in 2025-09, with the labels that each got.

#6649 docs: add note about revoking Twitch OAuth tokens
  docs/cli/plugins/twitch.rst
Labels: documentation

#6652 plugins.chzzk: add live playback
  src/streamlink/plugins/chzzk.py
Labels: plugin enhancement

#6662 plugins.aloula: fix livestream schema
  src/streamlink/plugins/aloula.py
Labels: plugin issue
